[2020-11-19 17:14] lauracowen opened #1943 "Add docs search"
Even if we don't get round to site search (#288) any time soon, can we investigate buying a plugin for Antora so we can have docs search (see also #803)?

[2020-11-19 18:53] steven1046 commented on #1940
That's just the design, we could definitely change it. There are more instances of it: https://openliberty.io/guides/docker.html#testing-the-container
https://openliberty.io/guides/microprofile-fallback.html#try-what-youll-build

[2020-11-30 19:29] mdenby commented on #1888
@jamiecoleman92  How about this for the new login page with the social buttons.

![Login v2](https://user-images.githubusercontent.com/26823018/100654779-55675880-3318-11eb-8109-ed2e8e0a4287.png)

[2020-12-01 10:55] jamiecoleman92 commented on #1888
Thank you @mdenby. I think it looks great and if we manage to get the portal login to look like the above I will be very happy. @yeekangc are you happy with me to use the above in the UFO?

[2020-12-02 19:19] k8vance88 commented on #1942
@mdenby can you take a look at this one?

[2020-12-02 19:21] k8vance88 commented on #1940
@mdenby can you take a look at this?

[2020-12-02 19:50] mdenby commented on #1942
Sure! I'll look at this for our meeting tomorrow.

[2020-12-02 19:51] mdenby commented on #1940
Sure, I'll look at this for our meeting tomorrow.

[2020-12-03 00:58] mdenby commented on #1888
@yeekangc @jamiecoleman92 Here is what the header would look like (following the header pattern of other IBM products)
I'll add a style guide for fonts and colors later this week.

![Skills Network header v2](https://user-images.githubusercontent.com/26823018/100949654-b6d62580-34d8-11eb-8f2b-bb605acedd32.png)

[2020-12-03 01:57] mdenby commented on #1940
What if we changed the actions to match the existing code blocks but add a heading to note an action?

<img width="867" alt="Screen Shot 2020-12-02 at 8 51 43 PM" src="https://user-images.githubusercontent.com/26823018/100953533-c6f20300-34e0-11eb-9409-2f2a2cd69e51.png">

[2020-12-03 02:17] mdenby commented on #1942
Gathering examples for ideas of styling here. Wondering if it's a contrast issue?

<img width="370" alt="Screen Shot 2020-12-02 at 9 04 21 PM" src="https://user-images.githubusercontent.com/26823018/100955018-c0b15600-34e3-11eb-98bd-0c876ce072c6.png">

<img width="513" alt="Screen Shot 2020-12-02 at 9 15 01 PM" src="https://user-images.githubusercontent.com/26823018/100955014-c018bf80-34e3-11eb-89

[2020-12-03 19:57] mbroz2 opened #1965 "Update Performance Charts on Homepage"
We want to make the following updates to the charts on the homepage:
Left side - add memory footprint to startup time, drop java name:
Start-up Time & Memory Footprint
Open Liberty vs other lightweight Java Servers
Add data memory footprint data from https://openliberty.io/img/blog/perfblog1.png
y-axis should end at 5s (left side) & 500% (right side) and anything larger should 'trail off'
button a

[2020-12-03 23:56] mbroz2 commented on #1938
The builds have been moved to IBM Cloud, and split into 2 stages (jekyll, followed by antora + mvn), followed by the deploy stage.
Furthermore, content specific sites have been created that only build the ui (openliberty.io repo) and blogs, certifications, guides, or docs:

- [draft site](https://draft-openlibertyio.mybluemix.net/)  It will automatically rebuild from changes to any draft branch fr

[2020-12-03 23:56] #1938 closed, assigned to nobody

[2020-12-04 16:10] steven1046 commented on #1661
Fixed by Michal's IBM Cloud pipelines

[2020-12-04 16:10] #1661 closed

[2020-12-04 16:13] steven1046 commented on #1517
The support for the new guide branches has been delivered into `draft`. I will update this when it makes it to prod.

[2020-12-04 20:23] gkwan-ibm commented on #1940
Probably need to prototype it to see how it really being look

[2020-12-07 17:50] steven1046 commented on #1888
@mdenby , do you have the icon for the skills network button?

[2020-12-07 17:58] mdenby commented on #1888
@steven1046 I just wrote "Skills Network Labs" in IBM Plex Sans. I can ask @jamiecoleman92 for the actual button if you need their specific version.

[2020-12-07 19:21] steven1046 commented on #1888
Thanks, i got the icon from Gilbert!

[2020-12-08 14:20] mbroz2 commented on #1888
The text for the button linking to the cloud hosted version of the guide will be:
“Or, get started without installing anything: [**Launch cloud-hosted version**]”

[2020-12-08 14:51] steven1046 commented on #1888
![image](https://user-images.githubusercontent.com/6392944/101499140-8bb56100-3932-11eb-99b8-0a7bdc5ddc33.png)

Does this look correct? What about the tooltip when hovering over the button?

[2020-12-08 15:38] steven1046 commented on #1517
Support for the new guide branch structure is now in prod. Guides and iguides can be updated simultaneously and fallback to the existing branch structure if the new branches aren't there.

[2020-12-08 17:32] gkwan-ibm opened #1975 "The right code pane cannot show "\\s+" string correctly for java file"
Personal development site lgdev can show `"\\s+"` string in java file at the right code pane but qa site show `"\s+"` (missing a slash character)
- from  https://github.com/OpenLiberty/guide-microprofile-metrics/issues/91

[2020-12-08 17:35] steven1046 commented on #1975
I think we found out that this is due to the `minify_html: true` set in the configy.yml jekyll config, whereas in your dev environment you have `minify_html: false` set, right @gkwan-ibm?

[2020-12-08 22:41] gkwan-ibm commented on #1975
probably yes, lgdev set `minify_html: false`

[2020-12-09 15:13] mdenby commented on #1888
@jamiecoleman92 @jakub-pomykala Here is a zip file with a style guide.
[Open Liberty Style Guide for Skills Network.zip](https://github.com/OpenLiberty/openliberty.io/files/5666815/Open.Liberty.Style.Guide.for.Skills.Network.zip)

[2020-12-09 16:51] mdenby commented on #1888
@jakub-pomykala New files :-D

[Open Liberty SNL.zip](https://github.com/OpenLiberty/openliberty.io/files/5667410/Open.Liberty.SNL.zip)

[2020-12-10 18:27] mdenby commented on #1888
@jakub-pomykala Here are all the fonts.

[Archive.zip](https://github.com/OpenLiberty/openliberty.io/files/5674879/Archive.zip)

[2020-12-11 14:34] jamiecoleman92 commented on #1888
@mdenby It looks like we are good with all the designs except the changes to the Environment. Could you produce two more designs, one that is how you made it before but with the OL logo bigger and a second one with them swapped round so the SN logo comes after the OL one? Once we have that the SN team will implement it next week.

[2020-12-11 14:35] jamiecoleman92 commented on #1888
This is the current design you provided:
![image](https://user-images.githubusercontent.com/14291840/101915853-165dc080-3bbe-11eb-8ca6-0b2403c50676.png)

[2020-12-11 14:50] mdenby commented on #1888
Yes, I'll work on that and post them here.

[2020-12-14 20:52] steven1046 commented on #1517
@gkwan-ibm @yeekangc the guides can begin being converted over to the new branches now.

[2020-12-15 19:53] yeekangc commented on #1888
@mdenby, any update on the design?  Thanks.

[2020-12-15 20:13] mdenby commented on #1888
I plan on posting something today :-) Trying to wrap up Katamari things.

[2020-12-15 22:17] mdenby commented on #1888
I'll post the redlines here too. I wasn't sure if you meant the logo bigger that was just the UFO or with the type so I've included both.

![option 1](https://user-images.githubusercontent.com/26823018/102279384-4af0b580-3ef9-11eb-9f13-6a79295b38b7.png)

![option 2](https://user-images.githubusercontent.com/26823018/102279385-4b894c00-3ef9-11eb-8447-07ecddce6207.png)

![option 3](https://user-imag

[2020-12-15 22:20] mdenby commented on #1888
The redlines: [Archive.zip](https://github.com/OpenLiberty/openliberty.io/files/5699022/Archive.zip)

[2020-12-17 20:55] FcoJavierSainz opened #1985 "Dynacache initialization issue when ID is missing"
## Env
WebSphere Application Server Version 20.0.0.12 Liberty - (20.0.0.12-cl201220201111-0736)

[code]

## Problem
[ERROR   ] DYNA1062E: Dynamic Cache (core cache) failed to initialize. Exception: null

And then
[code]

## Cause
Missing ID in the config

[code]

[2020-12-17 21:01] FcoJavierSainz opened #1986 "Initialization Error when web-resource-collection is missing on security-constraint"
## Env
WebSphere Application Server Version 20.0.0.12 Liberty - (20.0.0.12-cl201220201111-0736)
[code]

## Problem
[code]

## Cause
Missing the `web-resource-collection` inside a `security-constraint` directive

[2020-12-17 21:22] FcoJavierSainz commented on #1985
moved to https://github.com/OpenLiberty/open-liberty/issues/15337

[2020-12-17 21:22] #1985 closed, assigned to nobody

[2020-12-17 21:27] FcoJavierSainz commented on #1986
moved to https://github.com/OpenLiberty/open-liberty/issues/15338

[2020-12-17 21:27] #1986 closed, assigned to nobody

[2020-12-28 21:54] pellmont opened #1987 "Performance decrease on reused OIDC Access Tokens"
Re-Use of an Access Token for multiple REST Requests will lead to performance decrease.

Reason: The Subject is growing with each request, because a new Hashtable containing the access token is added to the cached subject. This is especially significant if you use larger access tokens (like JWT Tokens).

Suspected source of trouble:
WebProviderAuthenticationHelper in com.ibm.ws.webcontainer.securi

[2020-12-28 23:02] una-tapa commented on #1987
Hi @pellmont - Thanks for the issue with the possible solution!  I will keep this issue updated with our progress.

NOTE:
- Confirmed what pellmont says in the current code.
https://github.com/OpenLiberty/open-liberty/blob/integration/dev/com.ibm.ws.webcontainer.security/src/com/ibm/ws/webcontainer/security/WebProviderAuthenticatorHelper.java#L139

TODO:
Check with team about the process.  Should

[2021-01-10 17:01] bwa opened #1994 "JPA trying to create whats already there"
Using OpenLiberty 20.0.0.12 with JPA-2.2 and Postgres, the Eclipselink is trying to create structures which is already in the database and failing the current transaction.

PostgreSQL 9.6.18
PostgreSQL JDBC Driver 42.2.9

persistence.xml is set to <property name="eclipselink.ddl-generation" value="create-or-extend-tables"/>

the message is :

[code]

If it's already there, then the JPA should not

[2021-01-10 17:57] bwa commented on #1994
I did test with Derby, with success, so maybe a postgres issue ?

[code]

[2021-01-10 18:09] bwa commented on #1994
Tried Postgres 12.5

[code]

[2021-01-11 18:02] jmoalves opened #1995 "installUtility - install with server.xml using forward slashes fails at Windows hosts"
Starting with 20.0.0.12, Liberty installUtility fails to load an server.xml include using forward slashs at Windows OS.

[code]

Fails with:
[code]

If you change the server.xml to use backslashes, the installUtility works at Windows.
I didn't check if the installUtility runs at Linux hosts with backslashes.

[2021-01-12 18:28] steven1046 opened #2001 "Support page Gitter css bug on Safari"
![image](https://user-images.githubusercontent.com/6392944/104356482-a189e900-54d1-11eb-807a-5d0c6a6f1a3f.png)

The Gitter card shouldn't be darker than the rest of them.

[2021-01-12 19:39] mbroz2 opened #2007 "Add noopener to dhe links in /downloads (and anywhere else we don't already have them)"
Add noopener to dhe links in /downloads (and anywhere else we don't already have them)

[2021-01-13 22:13] mbroz2 commented on #1975
Looks like the issue is in the minifier (https://github.com/octopress/minify-html) but unfortunately it doesn't seem like it's being actively maintained anymore (though we can certainly try and open an issue).
We're also looking at switching to a different minifier (#742 ) which may resolve this issue.

In the meantime, I suggest changing the example/test code to avoid this scenario.

[2021-01-13 22:13] #1975 closed, assigned to nobody

[2021-01-13 22:23] steven1046 commented on #1942
Using the IBM Equal Access Accessibility Checker, the gray on blue/gray background doesn't fail for accessibility.

[2021-01-13 22:24] mbroz2 commented on #1942
I think a larger contrast between the text and the background would help, however, I'll also mention that the one we have today does pass a11y.
@mdenby do you have a suggestion on the change in the contrast?

[2021-01-13 22:30] mbroz2 commented on #1915
Split the builds into 2 stages, which is enough for now; we'll need to revisit in the future and either split further or completely change the build and/or infrastructure for the site.

[2021-01-13 22:30] #1915 closed, assigned to nobody

[2021-01-13 22:32] steven1046 commented on #1937
Use the same orange text as the TOC

[2021-01-15 15:43] mbroz2 opened #2008 "Add GA event for clicking 'copy' button on github clone step in guide"
When a user click the 'copy code block' button for cloning the guide repo in the Getting Started step, send an event to GA.
![image](https://user-images.githubusercontent.com/3076261/104747405-1baaaf80-5716-11eb-9bd1-5afa31edf835.png)

[2021-01-27 19:04] steven1046 commented on #2008
GA = Google Analytics

[2021-01-28 15:24] steven1046 commented on #1615
As part of this issue i will add the current blog/doc redirects to their own repo.

[2021-01-28 15:41] steven1046 commented on #1615
Docs: https://github.com/OpenLiberty/docs-playbook/pull/63

[2021-01-29 18:07] steven1046 commented on #1615
Blogs: https://github.com/OpenLiberty/blogs/pull/1053

[2021-02-02 15:55] dmuelle opened #2029 "Macro links don't work for features that have only one version"
The current behavior for feature macros only works for features that have more than one version in the doc. So the feature I initially tested it with, mpHealth, which has three versions in the doc, works great. But for any feature that only has one version in the doc (the majority of them) the macro returns a 404.

The docs team needs a consistent way to specify feature links so that they always d

[2021-02-02 16:02] dmuelle commented on #1685
The zero migration doc is now published: https://www.openliberty.io/docs/latest/zero-migration-architecture.html

[2021-02-12 21:30] nickolas-potvin opened #2036 "Form login page is unsecured when SSO is enabled and users can login with form credentials"
When SSO is enabled (e.g. SAML or OIDC) in Liberty, users can still access the application's designated form login page if they go directly to the login page URL. Users can then authenticate with traditional credentials instead of being redirected to their IdP.

When SSO is enabled and in use (meaning not filtered out with an `authFilter`), the login page should be secured and direct users to thei

[2021-02-22 21:54] Charlotte-Holt opened #2045 "Sentence case table headers"
See Karen's first bullet in https://github.com/openliberty/docs/issues/1568#issuecomment-782922258. Right now, table headers default to all caps. Can we adjust this so that they can be sentence case?

[2021-02-23 20:57] #2029 closed, assigned to steven1046, dmuelle

[2021-02-24 21:54] dmorgant commented on #2008
I need more information on the eventCategory, eventAction, etc., or am I to create new ones for this button?

[2021-03-03 20:55] dmorgant commented on #1924
For me, I am having problems with the TOC in a different way.    When I scroll down pass the nav header, I see the following, where the guide content is shifted to the left and a blank column, about the width of the TOC, is in the middle of the page.

![image](https://user-images.githubusercontent.com/29490139/109863327-20281a80-7c27-11eb-99d1-ab34c6ae71bc.png)

Then, when you get to the end of th

[2021-03-10 22:13] dmorgant commented on #1878
I believe this is fixed with issue #1924.   Will review again once the fix makes it to prod.

[2021-03-10 23:07] dmorgant commented on #1742
The following links do cause issues at the main website, but only at versions less than 20.0.0.11.
https://openliberty.io/docs/20.0.0.7/reference/metrics-1-dif.html
https://openliberty.io/docs/20.0.0.7/reference/fault-tolerance-1-dif.html

When either of these are selected
- the doc appears without a Title
- the URL does not include **feature** as do the other Features when selected even though th

[2021-03-11 14:58] #2007 closed, assigned to dmorgant

[2021-03-11 15:07] dmorgant commented on #1742
This may also fix the problem described in #1878

[2021-03-11 15:07] dmorgant commented on #1924
This may also fix the problem described in #1878

[2021-03-11 15:49] #1924 closed, assigned to dmorgant

[2021-03-13 09:07] takakiyo opened #2055 "Feed broken"
https://www.openliberty.io/blog/ is up to date. But,
https://openliberty.io/blog/ has not been updated for a month.

Feed of this web site points documents on openliberty.io instead of www.openliberty.io,
so current feed information don't work.

[2021-03-16 21:35] dmorgant commented on #1742
The fix for this done in PR #2056 fixes the 2nd issue described above.   Level 2 TOC items were not being correctly scrolled to in the TOC when selected because we were adjusting the height of the TOC after setting the scroll to amount.

****   I have not been able to fix the issue with the links to https://openliberty.io/docs/20.0.0.7/reference/metrics-1-dif.html or https://openliberty.io/docs/20

[2021-03-18 15:25] dmorgant commented on #1878
With the fix for issue #1924 Steven and I are no longer able to recreate this problem.

Closing this issue.  If it still occurs, please reopen with details.  Thank you.

[2021-03-18 15:25] #1878 closed, assigned to dmorgant

[2021-03-18 21:56] dmorgant commented on #1866
The `display:block` in the following css is causing the table to start on a new line and take up the whole width.

In antora_ui/src/css/doc.css
[code]

Allowing it to default to `display:table` works, but the width is wrong (extends the width of the container) because of the table styling in antora_ui/src/css/config.css
[code]
Will have to look into why the width is set up this way.

[2021-03-23 19:11] dmuelle opened #2065 "literal formatting for table cells isn't applied correctly"
In asciidoc, you should be able to use the `l` attribute on a table row or cell to preserve line spacing in content, such as indentation in code examples. We recently discovered this option doesnt work on the OL site because although the antora framework seems to process the attributes, the OL site CSS allows the lines to break arbitrarily. Tried various workarounds, no luck.

Comments from @Azque

[2021-03-24 18:20] steven1046 commented on #2055
@takakiyo do you mean the RSS feed or the list of blogs? Is it still out of sync for you?

[2021-03-24 18:25] mbroz2 commented on #2055
Please let us know if you're still seeing the issue.

[2021-03-25 09:35] takakiyo commented on #2055
RSS feed is 'https://www.openliberty.io/feed.xml'. Yes, it is out of sync.

Please check https://openliberty.io/blog/
The latest post is 'Feb 10, 2021' on the blog list that has not 'www' in URL.
And, on https://www.openliberty.io/blog/ that HAS ’www', the latest post is 'Mar 24, 2021' now.

Please point 'www' pages in RSS feed of https://www.openliberty.io/feed.xml
   OR
sync https://openliberty.

[2021-03-25 16:13] mbroz2 commented on #2055
The issue regarding no updates since Feb 10th should be limited to the Asia region that is serviced by the Sydney datacenter and it not getting updated.  We're working with the cloud provider to resolve the issue.
It sounds like https://www.openliberty.io/blog/ is showing new content because it's being routed to a different datacenter, which is odd... as it should also be getting routed to the Syd

[2021-03-26 14:43] mbroz2 commented on #2055
We have removed the Sydney servers from the load balancer as we continue to work with the cloud provider to fix the underlying issue.  This means that you should now see the latest content, but since it will be served up by either the Frankfurt or Dallas servers you may see some performance degradation until the Sydney servers are restored.

[2021-03-26 14:55] mbroz2 commented on #2055
I can confirm that the reason why www.openliberty.io worked is because that one routes the North East Asia region to Frankfurt, while openliberty.io routes that region to Sydney (which has issues currently that we're working on resolving)

[2021-03-31 14:08] steven1046 opened #2072 "Firefox Guide CSS bug"
This happens on Firefox only for me at 133% Zoom. Browser dimensions 1440px by 664px.
![image](https://user-images.githubusercontent.com/6392944/113157510-93aa5100-9200-11eb-8f88-679ab104fefe.png)

[2021-03-31 18:47] dmorgant commented on #1866
Here is what I have determined:
- There are numerous tables that are seeing the formatting error described in this issue where the bottom border of the table extends too far to the right.

![image](https://user-images.githubusercontent.com/29490139/113175371-f9063e00-9210-11eb-90cf-23c01d9b2e87.png)

To recreate, it really is just a matter of finding a table with limited content so that the table

[2021-04-01 15:15] dmorgant commented on #1866
Steven and I discussed this issue and decided to remove the formatting of `display: block` for `<table>` elements, allowing them to revert to `display: table` where the cells were more accurately being stretched to 100% of the table width.  Also, we decided to set the table width at 100% instead of the (100% + 20px) which was causing unnecessary horizontal scrolling at some browser window widths o

[2021-04-01 18:24] dmorgant commented on #1866
Differences between `display:table` and `display: block`:

Both `display: block` and `display: table` won't display next to anything else, by default. The biggest difference is that `display: block` will extend to 100% of the available space, while `display: table` will only be as wide as its contents unless a specific width is otherwise set (more on that later). Also, `display: table` is required

[2021-04-05 20:20] #1866 closed, assigned to dmorgant

[2021-04-06 14:05] dmorgant commented on #2008
Discussed this issue with Michal and he proposed something like

[2021-04-07 16:20] dmorgant commented on #1742
Collectively we have decided to close this issue without fixing the indexing for the https://openliberty.io/docs/20.0.0.7/reference/metrics-1-dif.html or https://openliberty.io/docs/20.0.0.7/reference/fault-tolerance-1-dif.html as both of those documents now appear in a different location (right underneath the REFERENCE section) in versions 20.0.0.11 and above.

[2021-04-07 16:20] #1742 closed

[2021-04-07 18:40] #1615 closed

[2021-04-07 18:40] steven1046 commented on #1615
Certifications redirects in that repo will be done by @mbroz2

[2021-04-08 12:20] ghostofthecode opened #2079 "com.ibm.ws.security.mp.jwt.tai.MicroProfileJwtTAI corrupts http response"
In our application we need to support both Basic and JWT authentication.

Following server.xml configuration is used:
[code]
Due to failOverToAppAuthType setting after TAI authentication fails flow proceeds to other authentication methods. And subsequently it uses Basic authentication which successfully authenticates request.

Problem is with following method:
[code]
It is unable to parse Authoriz

[2021-04-08 12:34] ghostofthecode commented on #2079
moved to https://github.com/OpenLiberty/open-liberty/issues/16538

[2021-04-08 12:34] #2079 closed, assigned to nobody

[2021-04-09 16:14] dmorgant commented on #2008
Information collected:

The copy clipboard icon appears as a user mouseenters a section.  It appears EVERYwhere there is a section of commands or code to be copied.  It appears in static guides, interactive guides, docs, site content, etc..

This issue is with respect to the static guides only.   The interactive guides do not have the same section within the guide content to download the guide sam

[2021-04-09 18:46] dmorgant commented on #2072
This particular problem only occurs at a width of 1440.   At 1441 all is fine!   And I was able to recreate on Chrome as well as FF.

[2021-04-13 15:03] #2072 closed, assigned to dmorgant

[2021-04-21 18:05] mbroz2 commented on #2055
The feed should now be fixed (as of April 12th), as the Sydney server is back and has all the updates.

[2021-04-21 18:05] #2055 closed, assigned to mbroz2

[2021-05-11 15:20] steven1046 opened #2093 "Remove doc layout"
All of the guide layouts extend the layout `doc`, but we don't use the doc layout anymore for actual docs. We should remove that layout and have each of the guide layouts just extend the default layout, and make sure they still have the header-dark css included in their layouts which is currently in doc.html.

[2021-05-13 20:42] steven1046 commented on #73
This is now a higher priority after removing the octopress minification gem in #2094

[2021-05-19 18:09] steven1046 commented on #2093
1. Remove doc layout
2. Change guide.html, iguide-multipane.html, and guide-multipane.html to layout: default
3. Make sure everything renders correctly

[2021-05-19 18:17] steven1046 commented on #1517
After guides-common has been changed, please ping me to update the guides draft/staging pipeline to clone the new branches.

[2021-05-19 18:19] #1480 closed

[2021-05-19 18:41] steven1046 commented on #1716
Is this still an issue?

[2021-05-19 18:46] mbroz2 commented on #2065
@dmuelle can you provide a screenshot of the bad behavior?

[2021-05-19 18:46] steven1046 commented on #2065
We should look into if we can make that specific css more specific, or make it that antora's css overrides what we have for the site if that's the case.

[2021-05-19 19:58] dmuelle commented on #2065
for example, the following codeblock for the fault tolerance table:

[code]

renders like this in the table on the site:
<img width="391" alt="Screen Shot 2021-05-19 at 3 57 57 PM" src="https://user-images.githubusercontent.com/48686014/118876270-0e1b5700-b8bb-11eb-9593-cc424eeb328c.png">

more details in @Azquelt coment here: https://github.com/OpenLiberty/docs/issues/3440#issuecomment-780458030

[2021-05-21 14:56] steven1046 commented on #1701
This is blocked by https://github.com/OpenLiberty/guides-common/issues/449, until the guides team adds the necessary verbiage in the getting started section that the user can hover over.

[2021-05-24 18:44] steven1046 commented on #1863
Closing this, as the backend has been written and the api is accessible at https://start.openliberty.io/api/start/info and http://start.openliberty.io/api/start?a=myApp&b=maven&g=com.demo&j=8&e=8&m=3.2 with varying parameters.

[2021-05-24 18:44] #1863 closed, assigned to steven1046

[2021-05-25 15:30] steven1046 commented on #1701
This is unblocked now, the guides team added the verbiage and class name in https://github.com/OpenLiberty/guides-common/pull/658 so we can proceed.

[2021-05-27 14:05] #1937 closed, assigned to natalie-bernhard

[2021-05-27 18:37] steven1046 opened #2119 "Safari has a lot of white space to the right of the screen on the home page"
![image](https://user-images.githubusercontent.com/6392944/119879211-9a97cc00-bef0-11eb-9c36-9225efc3862e.png)

![image](https://user-images.githubusercontent.com/6392944/119879144-8358de80-bef0-11eb-8811-c3ba9c7dccfc.png)

The culprit is one of the clouds that extends the whole page and adds a lot of white space.

[2021-06-01 19:55] #2001 closed, assigned to natalie-bernhard

[2021-06-01 21:03] natalie-bernhard commented on #1914
Here is the information that I had the issue populate with based on the original description above.  Is there any other information that should be populated?  The only other thing I can think of would be to add a space labeled "Description:" for the user to describe in detail the issue with the documentation.  I wasn't sure if title should be populated since titles are usually more specific about

[2021-06-01 21:32] steven1046 commented on #1914
@dmuelle do you have any feedback on the above?

[2021-06-02 12:51] dmuelle commented on #1914
I think this looks great. If we want to add some sort of description prompt, could be something like

"Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it."

That might be overkill :) But sometimes outside users open docs issues that are

[2021-06-02 13:58] steven1046 commented on #1424
Browsers implement their own radio button styles, if we want to use a black radio button for Maven/Gradle then we would need images for the unselected and selected versions of those @mdenby.

[2021-06-02 18:06] steven1046 commented on #1527
Closing this until we start using Travis again.

[2021-06-02 18:06] #1527 closed

[2021-06-02 18:15] #1685 closed

[2021-06-02 18:19] steven1046 commented on #2008
The button can be tracked in Google Analytics, but we need to add an id or class to the little icon that pops up when you hover over it, so GA has a way of telling it was the copy to clipboard `for the git clone code block`.

[2021-06-02 20:47] natalie-bernhard opened #2124 "Infrastructure to build various language versions of pages from ol.io repo"
Infrastructure to build various language versions of pages from ol.io repo, likely jekyll plugin (necessary for /guides, header & footer)
(hard prereq for anything, dependent heavily on jekyll plugin functionality and how much it aligns with what we want.  Homegrown solution 4pw)
**Size: 2.5pw (4pw for homegrown solution)**

[2021-06-02 21:19] natalie-bernhard opened #2125 "Externalize ol.io repo strings"
Externalize ol.io repo strings (95%+ in html currently).  Includes header & footer
**Size: 1pw (1pd for just header & footer, another 1pd for /guides)**

[2021-06-02 21:21] natalie-bernhard opened #2126 "Language selector for blog posts"
Language selector (we can also set default to what the browser returns, but that's 'free')
(considered a hard prereq as without UX would degrade significantly)
**Size: 1.5pw**

[2021-06-02 21:25] natalie-bernhard opened #2127 "Untranslated page banner"
Untranslated page banner
(considered a hard prereq as without UX would degrade significantly)
**Size: 1pw**

[2021-06-04 17:01] natalie-bernhard commented on #1837
I added a specific fix in the config JS for this page since it seems to be the only page that behaves this way.  Are there any other pages that should be included in this? I could not replicate this behavior so far in any other documentation, even with the same page and anchor on other versions of the docs or with different anchors on the page linked to in the initial issue.

[2021-06-04 18:58] steven1046 commented on #1837
This problem is only in the config overview, so that makes sense!

[2021-06-04 20:15] natalie-bernhard opened #2133 "Make Github logo on docs toolbar a clickable link to the docs repo main page"
I was thinking it may be useful to turn the github logo on the docs toolbar (circled below) into a link that goes to https://github.com/OpenLiberty/docs.  It would create a more general, direct link to the repo for someone who isn't necessarily interested in opening an issue or editing one of the docs.  I'm not sure if I'm the only one but a few times I've tried to click it before realizing it's j

[2021-06-07 13:09] #1828 closed

[2021-06-07 13:09] #1914 closed, assigned to natalie-bernhard

[2021-06-07 16:42] steven1046 opened #2135 "Opening doc version selector jumps the page with no nav bar"
![image](https://user-images.githubusercontent.com/6392944/121057824-4f4dab00-c785-11eb-9040-ca99bb6b3025.png)

If you open the version picker while on a doc, the whole toolbar jumps down giving room for the navbar, but the navbar doesn't appear unless you start scrolling up again. We should probably enable the navbar when this happens so there isn't blank space.

[2021-06-07 19:35] steven1046 opened #2136 "Filtering guides view on mobile does not expand the sections containing the results"
Tested using the latest iOS

[2021-06-08 15:49] #2008 closed, assigned to steven1046

[2021-06-08 15:53] #1837 closed

[2021-06-08 16:41] natalie-bernhard commented on #1797
Here's the current layout I have to list the doc versions that do include the specific doc.  @k8vance88 Is there someone from design I can tag in this issue to take a look and let me know if there are any changes that should be made?
![Screen Shot 2021-06-08 at 12 08 43 PM](https://user-images.githubusercontent.com/84740311/121224414-89d34880-c856-11eb-8ca6-f3d9c4436c84.png)

[2021-06-08 18:58] k8vance88 commented on #1797
Yes, @mdenby can you take a look at that design?

[2021-06-09 13:35] steven1046 commented on #1939
I'd vote using a confirmation message, because sometimes when you move your mouse out of a code block you can copy, it vanishes. So changing the icon to a checkmark wouldn't be that helpful when someone moves their mouse after clicking copy.

[2021-06-09 20:55] natalie-bernhard commented on #1797
As a functionality update, I made it so that if a user switched versions in the dropdown to a version including the doc (rather than selecting one of the listed links) it still would direct them to the document requested in the version they choose.  If they try to pick a version from the dropdown that still does not include the doc, it directs them to the docs overview for the version of the docs

[2021-06-10 14:28] steven1046 commented on #1832
Adding a period didn't prevent the backend from redirecting the iframe. I wonder if we could just add `<meta name="robots" content="noindex">` to the javadoc iframe so they can't be indexed in search engines.

[2021-06-10 14:32] natalie-bernhard commented on #1939
If the confirmation message is added, do we need design to weigh in on placement? Since there's no space above the button, I could see having it show up to the left of the button after it's clicked, but I'm not sure if design has any other ideas for placement of the confirmation

[2021-06-10 14:37] steven1046 commented on #1939
Maybe below, so in mobile it also fits?
![image](https://user-images.githubusercontent.com/6392944/121544633-7f888a00-c9cf-11eb-8ba3-86884c201671.png)

[2021-06-10 17:08] steven1046 commented on #1888
The openliberty.io ui part is done for this piece of work, so can we close this issue?

[2021-06-10 17:25] steven1046 commented on #1832
The above would probably lower the SEO ranking of Javadocs on the website as search engines wouldn't crawl iframe and discover the contents. The only SEO rankings showing up on Google for the javadocs are the individual modules from Antora and not the entire site's frame. Adding noindex would prevent all of this, but have less linking to the javadocs.

Another solution could be to tell the redirec

[2021-06-10 18:33] gkwan-ibm commented on #1888
I think we can close

[2021-06-10 18:34] #1888 closed, assigned to steven1046, jamiecoleman92, mdenby

[2021-06-11 16:30] natalie-bernhard commented on #2119
Is this still an issue? I can't seem to reproduce this on my computer in Safari. I'm not sure if my monitors are too small to cause this issue (the max browser window size on one of my monitors is is 1920 x 890).

[2021-06-11 17:25] natalie-bernhard commented on #2045
@Charlotte-Holt do you want the headers to be sentence case or show the text as it is written in the documentation? I can implement either.  It seems there are only a few cases where the headers in the documentation are not written in sentence case (instead they show up lowercase in the select cases I have found), so I wasn't sure if the headers were written that way on purpose or not and whether

[2021-06-11 17:53] steven1046 commented on #2119
I see the bug while on my mac and not doing anything special, but when i view it on monitors i don't see the bug.

[2021-06-11 19:12] steven1046 commented on #1832
Even with no redirects containing "/./", the following redirects don't work well enough:
/docs/modules/reference/*=/docs/ref/javadocs/
/docs/modules/reference/microprofile*=/docs/latest/reference/javadoc/microprofile
/docs/modules/reference/liberty-javaee*=/docs/latest/reference/javadoc/liberty-javaee
/docs/modules/reference/microprofile-3.3-javadoc/*=/docs/latest/reference/javadoc/microprofile-3.

[2021-06-11 20:00] steven1046 commented on #1934
I'm going to parse the blog tags file and add it to the individual blog files during build time so jekyll knows those blog posts have those tags when jekyll builds.

[2021-06-11 20:04] #2093 closed, assigned to natalie-bernhard

[2021-06-14 19:39] #2119 closed, assigned to natalie-bernhard

[2021-06-15 13:55] steven1046 commented on #1481
@yeekangc will all guides now have Gradle in the prereqs file, except the maven intro? Like this:
![image](https://user-images.githubusercontent.com/6392944/122065109-4bd6a700-cdb7-11eb-9c71-44e331b7333f.png)

[2021-06-15 14:30] gkwan-ibm commented on #1481
Currently, all guides do not have gradle configuration files yet except gradle guide. When the feature is available at the dev site, we can start to update the guides content and to add gradle configuration files. Ultimately, the gradle prereqs will be`"*"` and exclude the `maven-intro` guide. But, it is possibly in a while that we will only enable some guides, because we will deploy the changes g

[2021-06-15 14:34] steven1046 commented on #1481
Got it, thank you!

[2021-06-15 15:12] placidetmuzo opened #2163 "Liberty 21.0.0.6 : unexpected SRVE9967W+WELD-001408 on injection point wrapped by CDI Portable extension"
Dear all,

Suppose to proceed with CDI Portable extension that wrap inject points field type (https://docs.jboss.org/weld/reference/latest/en-US/html/extend.html#_wrapping_an_injectiontarget) as follow:

A) server.xml feature set to "javaee-7.0"

B) In application code, suppose the following injection point

    @Inject @MyQualifier private MyInterface injectPoint;

C) Having in a jar dependency

[2021-06-15 17:24] #1884 closed, assigned to steven1046

[2021-06-15 17:24] steven1046 commented on #1934
It's fixed now. https://openliberty.io/jakartaee.xml

[2021-06-15 17:24] #1934 closed, assigned to steven1046

[2021-06-15 19:23] steven1046 commented on #1481
Currently, when the user clicks the Maven/Gradle in the prerequisites section it takes them to https://maven.apache.org/download.cgi and https://gradle.org/install/ respectively. If the user clicks on them to toggle instead, do we want it to both be a toggle for the guide AND to open those links in a new tab?

[2021-06-15 21:12] yeekangc commented on #1481
I don't think the toggle should open up a tab to new link for them.  We should separate them if possible?

[2021-06-16 13:34] steven1046 commented on #1481
Maybe have them be a toggle, but hovering over will have a popover like the https://openliberty.io/guides/ page filter suggestions where they can click a link to go to the specs?

[2021-06-16 14:07] dmuelle commented on #2045
@natalie-bernhard - I think this is fixed now. Looking at the tables across the docs (for example: https://www.openliberty.io/docs/21.0.0.6/logstash-events-list.html), I now see the headings in sentence case, as we were hoping for. The style here is what I would expect for all headings on the site as well. If you see any that are all lowercase thatr is most likely an error so please let me know! T

[2021-06-16 14:15] dmuelle opened #2166 "Blogs: text in bulleted lists is smaller than body text"
I only see this problem in the blogs. Text that is part of an unordered list (bullets) is several pts smaller than the rest of the body text on the page. This has the effect of making bulleted content less prominent and harder to scan. This does not happen with numbered lists, just bullets. Example from https://www.openliberty.io/blog/2021/06/04/database-ssl-primer.html

<img width="1235" alt="Scr

[2021-06-16 14:35] natalie-bernhard commented on #2045
@dmuelle  Thank you for your response! The original issue was specifically in reference to the table headers, which are still in all caps (as seen in the screenshot below).  Please let me know if this should be changed or if I should close this issue.
<img width="808" alt="Screen Shot 2021-06-16 at 10 31 36 AM" src="https://user-images.githubusercontent.com/84740311/122238330-0afd9180-ce8e-11eb-99

[2021-06-16 15:05] dmuelle commented on #2045
oops- sorry! I mis-remembered this as being about table titles, not headers. Yes please, the headers should be in sentence case.

[2021-06-16 18:08] k8vance88 commented on #2166
The font sizes at the moment are 16px and 14px.  If I make them both 16px, I think it looks odd.  To me the bullets look larger even if they are the same size.

![image](https://user-images.githubusercontent.com/29546393/122270348-d4cb0c80-cea3-11eb-9a3b-ddd4f5b3f71e.png)

[2021-06-16 18:27] k8vance88 commented on #1820
Closing this issue as it's already working.  I see no reason to change it.

[2021-06-16 18:27] #1820 closed

[2021-06-16 18:34] steven1046 commented on #972
The link is expired, if we put +, will it be automatic each month?

[2021-06-16 18:37] dmuelle commented on #2166
I see what you mean- though I still think it's an improvement. Could we cheat it back some so that it's 16px-15px? I know one px is hardly any difference but the bullets should stand out, particularly for readers who are scanning the text rather than reading through. As they are now, they almost seem de-emphasized, particularly on a small laptop screen.

[2021-06-16 18:39] steven1046 commented on #972
Let's test this out on the draft pipeline and wait 3 months to see if it builds fine without manual interaction with the version.

[2021-06-16 18:43] steven1046 commented on #57
We should run this after Jekyll builds all of its html files

[2021-06-16 18:49] steven1046 commented on #179
I think you can change the permalink in guides, but keeping the project id's as is. We'll need to add redirects from old guide urls to the new ones once they change.

[2021-06-16 18:51] steven1046 commented on #719
This still needs to be done, and the pipeline can call the script directly. Move the code from the pipeline into a script and call it from the pipeline.

[2021-06-16 18:53] steven1046 commented on #68
The build will also update the reference to the image name, including the hash added to the image name.

[2021-06-16 18:54] steven1046 commented on #68
I feel like we don't update images with the same name enough for this to be worth it. Does anyone else want this?

[2021-06-16 18:56] steven1046 commented on #297
Is this still wanted?

[2021-06-16 18:59] steven1046 commented on #836
This can probably be done now that jQuery has been upgraded

[2021-06-16 19:09] steven1046 commented on #1424
Based on the last website call we need:
1. A way to mark that a field is invalid and needs to be corrected before submitting
- Maybe add an icon next to the field because changing the label to red text would probably not pass accessibilty requirements with the green.
2. If the user changes the Jakarta EE version and we automatically update their MicroProfile version choice to the highest one that'

[2021-06-16 19:10] steven1046 commented on #1424
@mdenby are you able to create design changes for the above?

[2021-06-16 19:22] mdenby commented on #1424
Yes, I can work on this.
 
----- Original message -----From: Steven Zvonek ***@***.***>To: "OpenLiberty/openliberty.io" ***@***.***>Cc: mdenby ***@***.***>, Mention ***@***.***>Subject: [EXTERNAL] Re: [OpenLiberty/openliberty.io] Basic starter on downloads page (#1424)Date: Wed, Jun 16, 2021 3:10 PM      @mdenby are you able to create design changes for the above? — You are receiving this because

[2021-06-16 19:26] steven1046 commented on #972
I added the properties to the openliberty.io draft pipeline and it seems to be working:
Setting env variable 'JBP_CONFIG_LIBERTY' to 'version: +' for app draft-openlibertyio in org WASdev2 / space Open Liberty as mbroz@us.ibm.com...
OK
TIP: Use 'cf restage draft-openlibertyio' to ensure your env variable changes take effect
Setting env variable 'IBM_LIBERTY_MONTHLY' to 'true' for app draft-openlib

[2021-06-17 13:29] #1940 closed, assigned to natalie-bernhard

[2021-06-17 14:38] steven1046 commented on #179
Adding support for a guide-redirects.properties file in the guides-common repo which will help address the move of permalinks.

[2021-06-17 18:37] steven1046 commented on #972
I added

`cf set-env "${CF_APP}" JBP_CONFIG_LIBERTY "[version: +, app_archive: {features: [jaxrs-2.1,cdi-2.0,concurrent-1.0,jsonb-1.0,webCache-1.0,mpRestClient-1.3,concurrent-1.0]}]"`
`cf set-env "${CF_APP}" IBM_LIBERTY_MONTHLY true`

to the ui-draft pipeline and it did not work. That string is what was mentioned in the #bluemix-buildpacks channel and said it worked for them but we got this error:

[2021-06-17 18:57] steven1046 commented on #179
@gkwan-ibm @yeekangc now the ui work is done for guides to begin converting permalinks. Add the old url and new url to the guides-common redirect file and then it should work on the draft site.

[2021-06-17 19:00] steven1046 commented on #179
@gkwan-ibm @yeekangc i see one more instance on end of guides, where we display the cards to other related guides. This uses the permalink. I need to debug a little bit more to see how it can be done before we change the guides. But at least the redirect file can be used for now.

[2021-06-18 16:01] gkwan-ibm opened #2176 "Add copy button to the command boxes"
The site recently updated the style for the command boxes in the guides like following instead of an arrow shape.
Suggest to add a copy button in the box, so that users can copy the file name/path.

![Screen Shot 2021-06-17 at 5 21 01 PM](https://user-images.githubusercontent.com/29576299/122588156-c0664b80-d02c-11eb-9466-b6d9e32b937a.png)

[2021-06-20 15:12] mdenby commented on #1424
New screens. I wonder if @lauracowen needs to review my wording on the notification and error messages. For the error message I put two options:

1. "Please enter a valid application name." or "Please enter a valid base package name."
2. "Valid characters include A-z, 0-9, and (.  _ –)" The idea here is to let the user know what characters to use instead of just telling them what they entered was

[2021-06-21 13:17] mdenby commented on #1424
Oh, also do I need to make the mobile version showing the form?

[2021-06-21 14:03] steven1046 commented on #1424
It should look roughly the same in mobile, but the fields would be stacked because there's not enough space right?

[2021-06-21 14:10] mdenby commented on #1424
Yes, exactly. I just didn't know if redlines were needed to show that or not. If so, I'm happy to make them.

[2021-06-21 14:17] steven1046 commented on #1424
That would be great! Just to clarify the spacing and the size of the warning label. I don't think anyone would be downloading a starter on a mobile device, but if their screen size is small enough then it would show the mobile view.

[2021-06-21 15:05] natalie-bernhard commented on #2065
@dmuelle I should be able to modify the css to remove those rules from the table cells with the `l` attribute, but it would first have to be put back into the documentation/asciidocs so I can ensure that the CSS rules applied work correctly with the literal formatting.  Would you be able to add the `l` attribute back into the documentation, maybe on a draft or temporary branch?

[2021-06-21 18:25] #2045 closed, assigned to natalie-bernhard

[2021-06-21 18:32] dmuelle commented on #2065
Hi @natalie-bernhard - I've restored the literal formatting in this table on the draft site:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.7/reference/metrics-1-dif.html#fault

In this table the 1st, 2nd, 4th, and 5th columns apply the  literal formatting attribute `l`. You can see in the current draft that the lines break randomly in these columns. If we can get it to render properly  th

[2021-06-21 18:44] natalie-bernhard commented on #2065
Great, thank you so much!

[2021-06-21 20:03] #2135 closed, assigned to natalie-bernhard

[2021-06-22 15:19] natalie-bernhard commented on #2065
@dmuelle The styling has been updated for tables using the literal tag, which can be seen on the draft site in the table you implemented the `l` attribute on.  Did you want to modify any more of the documentation before I move the change forward?

[2021-06-22 15:47] dmuelle commented on #2065
@natalie-bernhard looks great thanks so much! There is one other table I need to update. I'll make that change today and let you know when it's ready

[2021-06-22 18:01] dmuelle commented on #2065
@natalie-bernhard my edits are complete- thanks again for your help with this!

[2021-06-23 13:26] yeekangc opened #2183 "Update search metadata for /start, /blog, /support, and /docs"
Update SEO metadata for https://openliberty.io/downloads/ to indicate what it provides particularly when the Starter is available.

@steven1046 @k8vance88

[2021-06-23 13:34] steven1046 commented on #2183
What should we have the page seo-description say?

[2021-06-23 13:34] steven1046 commented on #2183
This can be changed during https://github.com/OpenLiberty/openliberty.io/issues/1424.

[2021-06-23 16:41] steven1046 commented on #1923
Estimated GA of 3.0 is this month per the release schedule

[2021-06-28 18:57] steven1046 commented on #1517
The guides have been switched over, minus them not having any draft branch. The static guides have prod/staging/dev.

[2021-06-28 19:03] steven1046 commented on #1517
Edit: The static guides *are* using a draft branch of guides still in development, but published guides only have prod/staging.

[2021-06-28 19:03] #1517 closed

[2021-06-29 19:38] #2136 closed, assigned to natalie-bernhard

[2021-06-29 19:41] natalie-bernhard commented on #2065
@dmuelle this change has been released to prod so the docs that use literal formatting should now have the correct formatting

[2021-06-30 13:35] #2065 closed, assigned to natalie-bernhard

[2021-06-30 15:42] steven1046 commented on #1481
It was decided that when a guide adds the toggle for Gradle, it will also add gradlew wrapper support and the Gradle toggle won't be a link.

[2021-06-30 17:44] steven1046 commented on #1481
Will we also add the maven wrapper mvnw to guides to remove the link to https://maven.apache.org/download.cgi? If not, what should we do about that link?

[2021-06-30 18:18] steven1046 commented on #1623
I did this for the starter. It is kind of a pain to manage, every time you want to update the starter you have to build the war, then repackage the server, and upload that server in a commit to the repo. It would make making changes to the website more cumbersome.

Edit: found a way to use the server.xml in src/main/wlp and to copy the .war from the build, so we do not have to manually package the

[2021-06-30 18:20] steven1046 commented on #720
If we replicate the pipeline to another region, like Washington, then it could be turned off for automatic rebuilds and sit idle for when we need to use it. The only time we would really need to use it is if the South region data center went down and we couldn't rebuild the website that way.

[2021-06-30 18:24] steven1046 commented on #1565
@dmuelle do you know if this is fixed now?

[2021-06-30 18:26] k8vance88 commented on #781
@natalie-bernhard please see if this is still an issue

[2021-06-30 18:30] steven1046 commented on #1617
This is for the data shown on https://openliberty.io/contribute/.

[2021-06-30 18:35] steven1046 commented on #1131
By default now the javadoc command doesn't generate iframes. But our javascript and css doesn't work without iframes currently so we would need to implement that.

[2021-06-30 18:59] natalie-bernhard commented on #781
Could not recreate this behavior on iPad (tested on Safari and Chrome), closing this issue

[2021-06-30 18:59] #781 closed

[2021-06-30 19:40] steven1046 commented on #179
@yeekangc @gkwan-ibm

It actually works with no changes to the UI.

1) If a page permalink changes, then the guides that reference that guide in their page-related-guides will also have to update that metadata to include the new permalink.
2) Update guide categories json to include the new permalink changed.

The reason why we have to update the related guides and guide categories json, is that je

[2021-06-30 19:49] steven1046 commented on #1120
Closing, as all of the draft/staging environments have been moved to the WASDev account. Any other existing apps on personal accounts aren't used for ol.io.

[2021-06-30 19:49] #1120 closed

[2021-06-30 20:03] dmuelle commented on #1565
@steven1046 - yes it appears to be fixed now-Thanks!

[2021-06-30 20:16] steven1046 commented on #1565
Awesome 🎆 . Closing this until there are any further issues.

[2021-06-30 20:16] #1565 closed

[2021-06-30 21:11] steven1046 commented on #1701
FYI @mdenby, when you have a chance to look at it.

[2021-07-01 15:46] steven1046 commented on #1051
Do we need to add a section how to write a guide in the ol.io repo wiki? Or is the current https://github.com/OpenLiberty/openliberty.io/wiki/Setting-up-local-website-development wiki to setup local dev environment and then linking to the guides-common wiki https://github.com/OpenLiberty/guides-common/wiki/Creating-a-static-guide-in-the-multipane-layout enough? Don't want to duplicate instructions

[2021-07-01 15:48] steven1046 commented on #1676
Why do they need to be lowercase?

[2021-07-01 18:03] #1424 closed

[2021-07-01 18:03] #1797 closed

[2021-07-01 18:03] #1650 closed

[2021-07-01 18:34] steven1046 commented on #1734
Is each .zip.md5 here: https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/runtime/nightly/2021-05-29_0300/ an example of the checksum? @mbroz2 @cbridgha

[2021-07-01 18:34] steven1046 commented on #1734
@mdenby should we add another column on the right to the downloads table here: https://openliberty.io/downloads/?

[2021-07-01 18:36] steven1046 commented on #1881
I think there was a reason why we couldn't add the site url to the playbook. I am trying to remember.

[2021-07-01 19:37] steven1046 opened #2199 "Locally downloaded guide doesn't work"
This is the openliberty.io MP Health guide (https://openliberty.io/guides/microprofile-health.html) TOC:
![image](https://user-images.githubusercontent.com/6392944/124180326-a63f5b00-da79-11eb-969a-f2516ea7014f.png)

When you right click -> save as html -> open it:
![image](https://user-images.githubusercontent.com/6392944/124180387-b7886780-da79-11eb-8a09-3c8232fa72e7.png)

The TOC sections that

[2021-07-01 19:37] steven1046 commented on #2199
Note that the `duplicate `Nice work! Where to next?` in the TOC was handled by a different issue: https://github.com/OpenLiberty/openliberty.io/issues/1194

[2021-07-01 20:01] steven1046 commented on #2199
The above is just a minor part of a bigger issue. The javascript isn't working properly once the html is saved. When you scroll through the guide, the prerequisites never disappear and the code doesn't switch. We will have to investigate further on if we are able to get this to work.

[2021-07-05 14:20] gkwan-ibm commented on #1051
Agree should not duplicate.

I think the https://github.com/OpenLiberty/openliberty.io/wiki/Setting-up-local-website-development wiki is generic for the whole site, including blogs. docs, guides, etc.

For the guides development, we will update https://github.com/OpenLiberty/guides-common/wiki/Setting-up-your-local-test-website-and-Asciidoctor to point to the Setting-up-local-website-development w

[2021-07-05 16:36] gkwan-ibm commented on #1481
In my understanding, all guide projects will include both gradlew and mvnw.

[2021-07-05 17:03] mdenby commented on #1424
Adding the redlines for mobile etc here...along with the error, empty, and notification screens.

[Get Started form Redlines.zip](https://github.com/OpenLiberty/openliberty.io/files/6765594/Get.Started.form.Redlines.zip)

[2021-07-07 18:49] #1194 closed

[2021-07-07 18:49] #2176 closed, assigned to steven1046

[2021-07-08 19:23] #1525 closed

[2021-07-13 19:56] steven1046 opened #2218 "Prevent crawling noversion.adoc in docs"
Searching Google for open liberty 20.0.0.7 docs shows some people "Document does not exist" as a result which may confuse people. We should look to prevent crawling of https://github.com/OpenLiberty/docs/blob/vNext/modules/ROOT/pages/noversion.adoc because that is only meant to be shown when a doc doesn't exist when using the version switcher.

[2021-07-13 19:57] steven1046 commented on #2218
noindex.hbs:
`<meta name="robots" content="noindex" />`

needs to be added to this file

[2021-07-14 17:52] steven1046 opened #2220 "Investigate asciidoctor-default.css"
Look into incorporating https://github.com/OpenLiberty/openliberty.io/blob/prod/src/main/content/_assets/css/asciidoctor-default.css into every page on the site. It was probably delivered 4 years ago before we had designs, and now nothing uses it. It would be nice to have enabled for pages by default, so that any page can use any feature of asciidoc like sidebars/examples. We would have to modify

[2021-07-14 18:02] steven1046 commented on #2220
Just incorporate most of the functionality into openliberty.scss

[2021-07-15 13:57] k8vance88 commented on #2133
@mdenby thoughts on this?  On today's Thursday morning call the only concern with this was that you might accidentally click on the icon when trying to open an issue.  Would adding a separator bar help with that?

[2021-07-15 17:46] steven1046 commented on #2183
@yeekangc during the website call we thought our current SEO when you search for "getting started Open Liberty" was good enough.

[2021-07-19 19:35] k8vance88 opened #2223 "Change https to http in namespace for maven pom"
This is to avoid a bug in intellij.

See https://youtrack.jetbrains.com/issue/IDEA-274021

[2021-07-27 19:34] natalie-bernhard opened #2225 "Add temporary message to handle 403s on noversion page"

[2021-07-27 19:35] natalie-bernhard opened #2226 "Implement caching & fix docs-generated content for noversion page"
Use caching in order to reduce requests made to Github API needed for this functionality in order to make it less likely to reach rate limit

[2021-08-03 14:16] k8vance88 opened #2234 "Switch java download in guides prereq to use semeru site"
adoptopenjdk is moving to https://developer.ibm.com/languages/java/semeru-runtimes/downloads

[2021-08-04 17:46] steven1046 opened #2239 "Update cypress README to run the test from the src/test/cypressjs folder"

[2021-08-04 18:33] #2225 closed, assigned to natalie-bernhard

[2021-08-04 19:54] FrankGrimm opened #2240 "starter configuration API broken"
The starter configurator on [openliberty.io/downloads/](https://openliberty.io/downloads/) seems broken at the moment. It cannot download [the API endpoint](https://start.openliberty.io/api/start/info), the client-side error message is CORS related but the endpoint itself shows that the SSL certificate for start.openliberty.io itself is simply invalid so cloudflare won't forward requests.

Tested

[2021-08-05 15:03] #1623 closed

[2021-08-11 18:20] steven1046 commented on #2223
This is addressed in the Starter. Does this need to be fixed for the website?

[2021-08-11 18:36] mbroz2 commented on #2240
Hi Frank, we're unable to reproduce this.  Could you try this again and let us know if it's still an issue, and whether this was intermittent or consistently failing? If still an issue, can provide us with the CORS/cert info error that you're seeing.

[2021-08-11 18:38] #2239 closed, assigned to nobody

[2021-08-11 18:42] steven1046 commented on #2234
This is the guides prereqs at the top right

[2021-08-11 18:44] mbroz2 commented on #2234
Update the [java link in guides prereq](https://github.com/OpenLiberty/guides-common/blob/32d66ee7e8021df359f6611ce5f77b62b1f1548a/guide_prereqs.json#L5) to point at [Semeru downloads](https://developer.ibm.com/languages/java/semeru-runtimes/downloads)

[2021-08-11 18:44] #2234 closed, assigned to nobody

[2021-08-11 18:44] mbroz2 commented on #2234
Issue moved to [OpenLiberty/guides-common #703](https://github.com/OpenLiberty/guides-common/issues/703) via [**ZenHub**](https://www.zenhub.com/)

[2021-08-11 18:46] mbroz2 commented on #2226
Should we instead asynchronously just call our server for each file for an existing version of docs and see if it returns 202 or 404?
This would avoid any issues with regards to being limited by github APIs rate limits.

For the short term, suggest doing HEAD request (so as to not actually request a file), if one comes back as a 404, abandon waiting for anything older.
The better solution would be

[2021-08-12 02:50] FrankGrimm commented on #2240
Hi, thanks for the response. Just tested it again in Firefox and the API endpoint seems to be fixed at this time, closing the issue.

[2021-08-12 02:50] #2240 closed, assigned to steven1046

[2021-08-12 13:11] yeekangc commented on #2183
@steven1046, can you point me to the metadata again?  I will take another look.

We should avoid conflicts with the Getting Started guide too.

[2021-08-12 13:15] steven1046 commented on #2183
![image](https://user-images.githubusercontent.com/6392944/129203139-4aead951-2337-40ca-9d97-2fca5bc4ada9.png)

![image](https://user-images.githubusercontent.com/6392944/129203230-50247a0d-fcc7-44c2-bdba-5dce429989dc.png)

[2021-08-13 15:04] natalie-bernhard commented on #316
This was fixed by the solution for Issue #1832

[2021-08-13 15:04] #316 closed

[2021-08-13 15:04] #1832 closed

[2021-08-24 14:57] steven1046 opened #2259 "Blog tags are cut-off on mobile (iOS)"
![image](https://user-images.githubusercontent.com/6392944/130639936-19e8321f-021a-478d-bdeb-c97d296ef3e5.png)

[2021-08-24 15:00] steven1046 commented on #2259
This is Safari if it helps

[2021-08-25 18:26] steven1046 commented on #2183
Yes, we should update the page's description @yeekangc. Do you have any ideas?

[2021-08-25 18:28] steven1046 commented on #2183
Google is getting the preview text from the most commonly visited area of the page linked to, so we need a more descriptive description to tell Google to show that.

[2021-08-25 18:29] steven1046 commented on #2183
The docs, blogs, and support pages all need to be updated as well.

[2021-08-26 03:23] mbroz2 commented on #1458
We have implemented automatic site rebuilds for all non-production sites as documented in the wiki: https://github.com/OpenLiberty/openliberty.io/wiki/Websites-&-branch-breakdown

We could follow the pattern for the prod site, but it could possibly cause some issues if several repos pushed to prod at the same time and would be time consuming to configure for each of the repos.  The one content rep

[2021-08-26 14:03] mbroz2 opened #2260 "Add a README into the generated project zip provided by the Starter"
The readme should contains some basic information, primarily what to do next (mvnw/gradlew commands)

[2021-08-26 14:07] steven1046 commented on #2260
Linking to: https://github.com/OpenLiberty/start.openliberty.io/issues/9

[2021-08-26 14:08] mbroz2 opened #2261 "Add a 'Next steps' or 'What's next' section after generate project in the starter"
Continues on #2260

After the user clicks "Generate Project' on the starter, display a small section after the button that tells the user what to do next depending on what they selected in the starter.  For example:
unzip
run [mvnw/gradlew command, depending on what was chosen in starter]
link to guides

[2021-08-27 14:13] #2260 closed, assigned to steven1046

[2021-08-27 14:14] steven1046 commented on #2260
https://github.com/OpenLiberty/start.openliberty.io/pull/11

[2021-08-27 14:14] steven1046 commented on #2261
Is a design needed?

[2021-08-30 18:42] mdenby commented on #1701
Does this still design work? I see the current page has the prereq rollover like this.

<img width="512" alt="Screen Shot 2021-08-30 at 2 41 13 PM" src="https://user-images.githubusercontent.com/26823018/131388617-9bc13b86-5db4-4646-9fc5-06c078afa912.png">

[2021-08-30 18:45] mdenby commented on #2133
Could we add a hover state in addition to a bar that shows where the link goes? For example:

<img width="217" alt="Screen Shot 2021-08-30 at 2 44 41 PM" src="https://user-images.githubusercontent.com/26823018/131388939-1d5b515c-ca60-4a77-a908-f4f7b81fde9a.png">

[2021-09-02 13:37] steven1046 commented on #1701
I think we need some sort of highlight of the whole section or indicator when the user hovers over the prerequisites text at the bottom of this paragraph here https://openliberty.io/guides/getting-started.html#getting-started:
![image](https://user-images.githubusercontent.com/6392944/131852920-436810bd-9428-4547-a539-825032452fb2.png)

to show them all of the prereqs. What if we had a large green

[2021-09-02 15:50] mrinalkumari06 opened #2262 "High CPU Usage with docker image of open liberty 20.0.x"
We are deploying docker image for open liberty 20.0.x on Azure cloud and on AKS cluster and seeing high usage of Application Server CPU during performance run.

We have tried with all below base images:

- open-liberty:full-java8-openj9
- open-liberty:full-java8-ibmjava-ubi
- open-liberty:full-java8-openj9-ubi
- open-liberty:kernel-slim-java8-openj9-ubi

Also did added in server.xml some performan

[2021-09-02 19:14] steven1046 opened #2263 "Enable no_copy ([source, role="no_copy"]) in all code blocks on the website"
This is currently only applied to guides, and we should make it available site-wide.

[2021-09-07 12:51] dmuelle commented on #1943
see https://github.com/OpenLiberty/docs/issues/4574, user community request for searching capability

[2021-09-08 18:11] k8vance88 commented on #2261
@mdenby can you take a look at this?

[2021-09-09 13:28] steven1046 opened #2270 "[Safari] Switching OS tabs on a guide can jump the guide a lot"
Investigate what we can do to improve the guide not jumping around. Switching OS tabs updates *all* of the os content on the guide, and it shouldn't jump the page a lot.

[2021-09-09 13:38] steven1046 commented on #2270
https://openliberty.io/guides/kubernetes-microprofile-config.html#tearing-down-the-environment on Safari at the last guide step has a couple of bugs when switching around OS tabs.

[2021-09-10 15:40] mbroz2 opened #2271 "Expose "Run in cloud" tag"
We have previously created the 'Run in cloud' tag to expose guides with the 'Run in cloud' functionality:
https://openliberty.io/guides/?search=run%20in%20cloud&key=tag or accessed via the shortlink ibm.biz/HostedLibertyGuides

We're now going to move forward and make this tag visible, with the following:

1. No aliases added for the tag (we can always add them later if we feel the need to do so)

[2021-09-10 19:47] gkwan-ibm opened #2272 "Support cloud-hosted guides to use SkillNetwork courses"
Skill Network deprecated the way what we did to create cloud-hosted. The old way calls **guided-project**. The new way calls **course**. We need to migrate our cloud-hosted guides to courses, and change the url to launch the SN lab. So, we need to update the cloud-hosted-guides.json, and the ol.io sites need to support. I suggest adding the following data. so that the sites can support both.
[code

[2021-09-10 19:52] gkwan-ibm commented on #2272
An alternative is different site uses the cloud-hosted-guides.json under its corresponding branch. Then the cloud-hosted-guides.json in dev branch for the draft site will be:

[code]

The cloud-hosted-guides.json in prod  branch for the production site will be:
[code]

[2021-09-13 13:39] steven1046 commented on #2272
Since we already have code that determines whether to use the real skills network site vs. the staging, I would say the first method is better and shouldn't take too long to implement. And if different branches of guides-common have different content, it would be harder to merge other changes in to that repo.

[2021-09-14 13:23] steven1046 commented on #2272
@gkwan-ibm the first has been implemented on draft.

[2021-09-22 18:13] steven1046 commented on #2271
long term we want to put suggested tags in the json, but for now we will add it in html/js

[2021-09-24 19:02] gkwan-ibm commented on #1716
close
- cannot see the problem or the problem was addressed

[2021-09-24 19:02] #1716 closed

[2021-09-27 15:13] mbroz2 opened #2282 "Update most links going to /downloads to be /start such as in the header.html"
update most links going to /downloads to be /start such as in the header.html

index.html
sitemap.xml
header.html
header-content.hbs

We should also create issues for content repos to do the same; the blog templates come to mind.

[2021-09-27 15:41] steven1046 opened #2283 "Javadoc TOC links are broken when navigating from another javadoc package/class"
If you go to https://openliberty.io/docs/21.0.0.9/reference/javadoc/microprofile-4.0-javadoc.html and click on the javax.annotation package and then try to navigate to the MicroProfile 3.3 javadoc in the left-most TOC then the URL is not correct.

[2021-09-28 03:27] mbroz2 opened #2285 "Archive old releases"
Currently, the /start/ page shows all releases of OL.  We'll want to only show the most recent X releases, same as docs. (X needing definition, likely either all releases in the last 2 years, or a subset where we keep all releases in the last year, plus those from the previous year where X mod 3 = 0.  Another option is to align with Liberty's sec vul iFix statement).

We'd then have some sort of b

[2021-09-28 03:38] mbroz2 opened #2286 "Add support for "UPDATED" label/badge in guides"
In the guide README.adoc read-in a new attribute ":page-majorupdateddate: 2021-10-10" 
Based of of the date from the attribute compute whether an "UPDATED" label/badge should be added to guide (similar to NEW label/badge).  The rule will be to add "UPDATED" to any guide with a date that occurs in the last 12 weeks.

Guides that received the UPDATED label should be externally socialized (twitter, l

[2021-09-28 03:49] mbroz2 opened #2287 "How to show EE8 features alongside EE9 features"
Today, the openliberty.io/docs groups feature versions by name, for example https://openliberty.io/docs/21.0.0.9/reference/feature/jaxrs-2.1.html

Some Jakarta EE9 features are named differently then Jakarta EE8 features.  How do we display those new features?

~~1. Continue to do what we're doing - this would cause a bunch of new features to appear and it would not be clear to the user how they c

[2021-09-28 03:52] mbroz2 commented on #2287
@kwsutter @jhanders34 thoughts?

[2021-09-28 19:29] NottyCode commented on #2287
Another option would be to inject Java EE versions into the TOC, so it would be something like this:

[code]

My only concern with this is I like how easy it is to switch versions and I'm not sure that would still be possible

[2021-09-28 20:06] kwsutter commented on #2287
I like option 3 and use the Jakarta names in the TOC on the left, with the exception of the Platform and Web Profiles.  In that case, I would list both Java EE and Jakarta EE Platform and Web Profiles.  This would allow us to show the javaee7, javaee8, jakartaee8, jakartaee9, etc names along with their content (when you click on one).  And, then just get everyone used to the "Jakarta" names for al

[2021-10-01 23:00] mbroz2 opened #2299 "Catch SRVE0190E 500 Error and redirect to 404 page"
Since gzip was added, if a file is requested that doesn't exist the server returns:

`Error 500: javax.servlet.ServletException: com.ibm.ws.webcontainer.exception.IncludeFileNotFoundException: SRVE0190E: File not found: /docs/21.0.0.10/reference/config/server-configuration-overview.html.gz`

It should instead redirect to our 404 page

[2021-10-01 23:13] mbroz2 opened #2300 "Fail the build for non-existent branch in Antora playbook"
If antora-playbook specifies a non-existent branch, we should fail the build

[2021-10-05 19:53] mbroz2 opened #2301 "Change javadoc urls from using `#` to `?`"
Currently our javadoc URLs use hashes, which works, but it means that all the javadocs will not be indexed by search engines.  Instead, we should change these to use query params and redirect the hashes to it.

Since we currently don't have sitewide search, this is a problem since a user would need to manually find what they're looking for in a javadoc instead of being able to use a search engine.

[2021-10-06 18:00] steven1046 commented on #2300
How to identify this?

[2021-10-06 18:00] steven1046 commented on #2300
I guess we can check after cloning the playbook if those doc versions exist.

[2021-10-06 18:04] steven1046 commented on #2272
this has been completed

[2021-10-06 18:12] steven1046 opened #2302 "Change guide skills network label for analytics from url randomized id to the title of the landing page"

[2021-10-06 18:14] steven1046 commented on #2302
Add `guide-name` to the query parameters too

[2021-10-06 18:18] gkwan-ibm commented on #2272
closed
- this is on live now

[2021-10-06 18:18] #2272 closed, assigned to steven1046

[2021-10-06 18:20] steven1046 commented on #179
@gkwan-ibm do you know if the above is good to implement or if we even want to change the permalinks anymore?

[2021-10-06 18:38] mbroz2 commented on #2300
We could open an issue against antora to throw an error if a non-existent branch was specified in the playbook.

Plugin to the antora step that does the cloning to fail the build for this scenario

[2021-10-06 18:38] steven1046 commented on #2300
We need to run the playbook locally without the `v` to see what the Antora package tool produces for a github branch that doesn't exist.

[2021-10-06 18:47] steven1046 opened #2303 "Integrate Cypress automated tests into the delivery pipeline"
And the tests will run headless in the cloud when any pr is merged

[2021-10-06 18:48] steven1046 commented on #2303
Right now, the tests are for redirects, so we would pass in the correct domain for each draft/staging/prod pipeline as an env variable.

[2021-10-07 00:12] mdenby commented on #2261
Yes, my first thought is a modal...I'll bring this up in the Thursday meeting tomorrow. I just tried it on the site and I remember this--you get a zip file and no 'success' message or instructions (or link to a guide).

'Your zip file has been beamed to your computer! Unzip it and follow the README instructions or run this command. For more help visit our helpful guides. Button--Guides. Button--Go

[2021-10-08 20:49] mbroz2 commented on #2287
After further discussion, a merge of Alasdair's option 4 with option 3 was also considered.  In other words, having the Java/Jakarta EE versions in the ToC, but have the feature page still list all versions, like we do today.  For example (where each version number remains a link to the appropriate feature-version):

- Java EE 7
    - Java Servlets &nbsp; &nbsp; &nbsp; &nbsp;(Java Servlets   &nbsp

[2021-10-14 16:29] cbridgha opened #2305 "Support signed zips on download site"
Open Liberty Released package zips will now also have a separate signed *.sig file that can also be downloaded to verify with IBM's provided public key (WebSphereLiberty.pem)

I envision a new column with links to the *.sig files for each package, and a url link to a doc page(maybe in page footer erea) explaining how to verify packages, and also where to download the public key.

[2021-10-14 17:39] mdenby commented on #2261
Here is what the modal could look like. @lauracowen I'm sure the wording could be much better!

<img width="921" alt="Screen Shot 2021-10-14 at 1 07 15 PM" src="https://user-images.githubusercontent.com/26823018/137368424-d3106be5-2395-4baa-9c47-3756b0a21243.png">

[2021-10-14 21:01] gkwan-ibm opened #2307 "Code block does not show the file content consistently"
In single pane or mobile view, clicking on the code block to show the file content doesn't work consistently or didn't work after first use

- visit https://openliberty.io/guides/docker.html
- reduce the browser size to show single pane
- scroll down to https://openliberty.io/guides/docker.html#getting-started
- click the green box
![Screen Shot 2021-10-14 at 4 56 25 PM](https://user-images.github

[2021-10-18 14:25] steven1046 opened #2308 "Modify the parse features python script to work with new doc toc"
Features dropdown is its own page now, and a dropdown at the same time so some adjustments need to be made to the python script that combines the feature pages so that it works with the new toc format (class change and structure).

See the features here in the toc:
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/feature/appSecurity-1.0.html

[2021-10-18 15:17] kinueng commented on #2263
@steven1046
May I have more details on what the end goal is for this issue?  I found code blocks outside of the guide pages that have the "copy to clipboard" functionality.  What are the criteria for when code blocks should/shouldn't have `no_copy`?

At the moment, the issue looks like a request to move the logic from https://github.com/OpenLiberty/openliberty.io/blob/75de7861e3dba87a12fe9c93323a1

[2021-10-18 15:25] steven1046 commented on #2263
We want any code block that is shown on the website to not be  copyable if the asciidoc author adds the class `no_copy` to their code block. Right now, i think the copy to clipboard icon shows up for all of the code blocks.

[2021-10-18 15:27] steven1046 commented on #2263
It is a request to move the logic from just the guides javascript to site-wide such as openliberty.js.

[2021-10-18 15:27] steven1046 commented on #2263
The docs have their own css/js so we'll need to make sure they get the logic too

[2021-10-20 18:05] steven1046 commented on #2307
It looks to be intermittent, and if you wait long enough before clicking the hotspot again it seems to work. It's probably a timing condition in the code to dismiss the code panel and waiting on the page to adjust.

[2021-10-20 18:09] steven1046 commented on #2307
It seems as though when the hotspot is near the top of the table of contents overlay when you dismiss it, is when you're not able to click the hotspot again so maybe something is blocking the click.

[2021-10-20 18:24] k8vance88 commented on #2133
Closing this issue because you can get a link to the github docs from the overview page of the docs.

[2021-10-20 18:24] #2133 closed, assigned to nobody

[2021-10-20 18:37] k8vance88 commented on #1942
Closing this specific issue because we opening an issue to do another a11y scan and fix violations.

[2021-10-20 18:37] #1942 closed, assigned to nobody

[2021-10-20 18:38] k8vance88 opened #2309 "A11y testing on OL.IO site"

[2021-10-20 18:39] k8vance88 opened #2310 "A11y testing for docs"

[2021-10-20 18:39] k8vance88 opened #2311 "Homepage a11y testing"

[2021-10-20 18:40] k8vance88 opened #2312 "Docs a11y testing"
This testing needs to include any instances where generated docs (that have been previously confirmed to be a11y compliant) are being modified in a way that could regress said compliance (for example, some css/js that changes to how something is rendered).  The intent is not to rescan previously scanned content, but rather just checking that any modifications do not cause a regression.

[2021-10-20 18:40] k8vance88 opened #2313 "Guides a11y testing"

[2021-10-20 18:40] k8vance88 opened #2314 "General website a11y testing"

[2021-10-20 18:42] k8vance88 commented on #2310
Closing as a dup

[2021-10-20 18:42] #2310 closed, assigned to nobody

[2021-10-21 13:28] steven1046 commented on #2287
Go with option 3 for now

[2021-10-26 16:08] vickimfox opened #2319 "docs/*/reference/config/application.html fails ZScaler scan with Trojan error"
My employer uses ZScaler service to manage access to and results from external web sites.
ZScaler is blocking access to the "application.html" page for the following reason. I can access every other page I need, but the scan blocks this particular page. It blocks for 20 and 21 year versions of the page, too.

**ZScaler block.**
_Action_: deny
_Reason_: Trojan
_ReasonCode_: AV_AUTHENTIUM_VIRUS_SW_M

[2021-10-27 14:47] cbridgha commented on #2305
FYI - We are targeting this to be complete for 21.0.0.12 eGA release.

[2021-10-27 19:07] steven1046 opened #2321 "Update /start javascript to handle Jakarta EE 9 package display name"
And the Web Profile 9 package as well.

The package locations will be openliberty-jakartaee9-21.0.0.12.zip and openliberty-webProfile9-21.0.0.12.zip.

[2021-10-28 14:22] mbroz2 commented on #2319
Hi @vickimfox,

There's not enough information here for us to be able to comment as to why ZScaler is blocking this page.  We'd need more information as to whether this false positive is because of some particular content on the page, an include, or just because the page file name is `application.html`.

If there's more information you could provide us then we can see if there's something we can d

[2021-10-31 09:19] dmytro-bilokha opened #2335 "Download links for 21.0.0.11 are broken on the https://openliberty.io/start/ page"
If you go to the page https://openliberty.io/start/ and click a link to download ZIP for 21.0.0.11 instead of getting download started you get `404 The requested URL was not found on this server.` I've checked following links and niether of them works:

https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/runtime/release/2021-10-19_1900/openliberty-21.0.0.11.zip
https://public.dhe.ibm.

[2021-11-01 14:31] steven1046 commented on #2335
Hi @dmytro-bilokha,

I tested accessing the build results from the UK, Germany, and the US and I was able to download the builds from each. Could you please try once more and see if it is still an issue for you? Thanks!

[2021-11-02 20:39] dmytro-bilokha commented on #2335
Now it works perfectly. I am accessing from the Netherlands, it could be some temporary CDN glitch or something else. Anyway, I'm able to download now. Thank you very much!

[2021-11-02 20:39] #2335 closed, assigned to nobody

[2021-11-03 14:17] #2308 closed, assigned to steven1046

[2021-11-03 18:22] steven1046 commented on #2286
The multimodules guide will have this property first and will be updated next week.

[2021-11-03 18:23] mbroz2 commented on #2261
We'll also want to add the actual command to run, and then reference the README.md for more information.

[2021-11-03 21:36] mbroz2 opened #2340 "Investigate moving off of Cloud Foundry for site deployments."
Consider alternatives like: ICCE, IKS, ROKS

[2021-11-04 13:35] mbroz2 commented on #2340
Change the build architecture while we're at it:
Product Containerized images of openliberty.io and start.openliberty.io
Don't rebuild things that haven't changed
Move to Tekton for builds
COS Bucket for storing previous builds, or perhaps GitHub releases.

[2021-11-09 16:56] mbroz2 commented on #2287
For 21.0.0.12, we'll hardcode a map of EE8->EE9 feature names based on the following mapping:

[code]

Note webProfile-9.1 needs special attention to make sure its versions are properly ordered as its version (8->9.1) and name (Java EE Web Profile->Jakarta EE Web Profile) changed, but the shortname remained `webProfile`
And similarly for Managed Beans, WebSocket, and Servlet
In other words, for in

[2021-11-15 20:24] bcoveny opened #2351 "kernel-slim-java17-openj9-ubi: not found"
When creating a starter app @ https://openliberty.io/start/ when you select Java SE Version 17, JAVA EE/JakartaEE Version 8 and MicroProfile 4.1 the Dockerfile created will not build due to missing image.

Create Starter application
![image](https://user-images.githubusercontent.com/8987322/141848199-7212d482-73e6-4ba4-852b-93af2296bdf2.png)

Dockerfile
[code]

Powershell
[code]

Failure
[code]

[2021-11-16 15:04] #1551 closed

[2021-11-16 16:13] mbroz2 commented on #2351
Currently, there is no java17-openj9-ubi image.  Until one is made available, one option would be to remove the dockerfile from the Java 17 starter.

[2021-11-16 22:30] erica-banda-03 opened #2356 "[Safari] Delay when code block shifts to top of screen after resize"
This issue is specific to Safari and it only happens when you resize your browser from single pane view to multi-pane view. After the resize to multi-pane, the code block looks like it shifts from about 150px down the page to the very top of the browser window. The delay in the shift is about 0.5 second and it's noticeable on my machine.

_Image after resize and right before code block shifts to t

[2021-11-17 16:31] steven1046 opened #2357 "Fail the docs UI bundle build if there is a syntax error"
When changing the docs ui javascript files, the gulp build sometimes has an error such as a JS lint problem and it keeps on going. If you don't view the build carefully, you won't know it failed and it will use the last successful ui bundle. This is hard for local development because the docs already take a while to rebuild when making javascript changes, so we should immediately fail the build wh

[2021-11-18 13:57] #2307 closed, assigned to erica-banda-03

[2021-11-18 14:18] steven1046 opened #2361 "Guide tags get shown whether "visible" is set to true OR false."
See https://github.com/OpenLiberty/guides-common/blob/prod/guide_tags.json. Setting the run in cloud tag to visible is new for guides. We had to remove it for a couple of days, and reverting the ui code did that. When re-delivering the ui code to make it visible, it reappeared. The guide_tags.json was still set to visible: false though, so we should actually honor that boolean to show or hide the

[2021-11-18 15:12] steven1046 commented on #2286
The attribute is available at https://raw.githubusercontent.com/OpenLiberty/guide-maven-multimodules/prod/README.adoc now

[2021-11-18 15:45] steven1046 commented on #2351
Issue moved to [OpenLiberty/start.openliberty.io #29](https://github.com/OpenLiberty/start.openliberty.io/issues/29) via [**ZenHub**](https://www.zenhub.com/)

[2021-11-18 15:45] #2351 closed, assigned to nobody

[2021-11-18 17:59] cbridgha commented on #2305
Edit 22.0.0.1 release....    Has this been sized/assigned?

[2021-11-18 18:15] #2271 closed, assigned to erica-banda-03

[2021-11-18 18:56] mbroz2 commented on #2305
It's prioritized in the backlog; once the items before it are complete, work on this will begin (targeted for delivery by 22.0.0.1 GA)

[2021-11-19 15:49] #2263 closed, assigned to kinueng

[2021-11-22 15:36] mbroz2 opened #2362 "Regenerate the javadoc using latest javadoc"
Our current javadoc was generated using Java SE 8/11.  Look into regenerating them using latest Java SE version to pick up latest versions of dependencies (like jQuery) as well as various fixes (like a11y).

[2021-11-22 15:40] mbroz2 opened #2363 "Change latest doc version in URL from numerical to 'latest'"
Currently, we redirect /latest/ to the latest numerical version (like 21.0.0.12).  Instead, do the opposite where the latest version is always under the /latest/ URL and the latest numerical version (like 21.0.0.12) redirects to /latest/ for as long as it's the newest version.

The reason for this change is to help prevent search engines from incorrectly pointing at older versions of the docs (eve

[2021-11-24 22:37] dmuelle commented on #2287
is it possible to make the new Jakarta features pull in the config examples from the corresponding Java feature pages? Or do those example files need to be duplicated for any renamed features?

[2021-11-29 19:30] mbroz2 commented on #2287
I don't think that would be appropriate.  These aren't just feature renames; the package namespace was changed as well for all the features (along with some other minor changes in certain features).
Instead, someone should go through all the included files to make sure that their content is appropriate to be linked to from the Jakarta EE 9.1 feature as is, or if an update needs to be named because

[2021-11-29 20:11] dmuelle commented on #2287
ok, created https://github.com/OpenLiberty/docs/issues/4980 to track the necessary doc updates

[2021-11-30 05:12] steven1046 opened #2376 "Move guide specific scrolling code into respective guide javascript"
Move this part of nav scrolling code in openliberty.js to the correct guide javascript instead.

[code]

 This was added when fixing https://github.com/OpenLiberty/openliberty.io/issues/2307 which caused the nav to disappear when scrolling the page on any page and a temporary fix was put in https://github.com/OpenLiberty/openliberty.io/pull/2375.

[2021-11-30 16:19] mbroz2 commented on #2283
Seems like we have different redirect behavior for MP javadocs (which breaks us) and Java EE javadocs (which redirect to 'latest') and Jakarta EE javadocs (which don't do any redirecting).  We should have consistent behavior if possible.

[2021-11-30 16:21] mbroz2 commented on #2305
When implementing this, note that we'll also want to add support for Checksums in the future as defined in #1734

[2021-11-30 16:30] mbroz2 opened #2377 "Allowlist approach for displaying zips from DHE on /start"
Our code that grabs the zips from DHE to display on /start is too greedy.  It should instead only expose the archives that we expect and not everything that it finds in the folder.

For example, today, we show the MP5 beta (https://openliberty.io/start/#runtime_betas) in the betas tab, but call it 'All Beta Features'.  Instead, we should have had only a single entry for All Beta Features pointing

[2021-11-30 16:31] steven1046 opened #2378 "Row highlighting on /start is wrong"
See: https://openliberty.io/start/
![image](https://user-images.githubusercontent.com/6392944/144087833-cdbeeb17-df30-47b3-94fb-66064c291651.png)

Each release should have a different background color and alternating.

[2021-11-30 16:35] mbroz2 commented on #2378
Should look like it use to:
![image](https://user-images.githubusercontent.com/3076261/144088592-0b02d955-ee1c-4756-ac73-5490b2bebf9e.png)

[2021-11-30 16:53] mbroz2 commented on #2319
@vickimfox I'm going to close this for now since there is no action we can take at the moment.  If you're still hitting this issue, please reopen this work item with the extra information that was requested.

[2021-11-30 16:53] #2319 closed, assigned to nobody

[2021-12-02 19:51] mbroz2 commented on #2226
Also as part of this, fix the issue where content from docs-generated (features, config, commands, etc) do not get versions listed because currently only the `docs` repo is searched.  I think the previous comment would naturally solve this without any extra work, but it should be verified that it does.

[2021-12-02 20:51] #2286 closed, assigned to Sreejith-Websphere

[2021-12-02 22:21] #2287 closed, assigned to steven1046

[2021-12-02 22:22] #2321 closed, assigned to steven1046

[2021-12-02 22:22] steven1046 commented on #2282
Fixed by https://github.com/OpenLiberty/openliberty.io/pull/2385 PR

[2021-12-02 22:22] #2282 closed, assigned to Sreejith-Websphere

[2021-12-06 16:35] kinueng opened #2391 "Upgrade node v12 to a newer release before Apr. 30, 2022"
Build is currently running v12 node.  v12 end of life is 2022-04-30.  Let's make sure we move up to a node version in service before 2022-04-30.

NodeJS Releases
https://nodejs.org/en/about/releases/

Logs from build showing we are using Node v12
[code]

[2021-12-06 21:41] cbridgha commented on #2305
Adding the link to the OL doc (this should be linked from downloads page regarding the signatures and verifying them). https://github.com/OpenLiberty/docs/issues/4842

[2021-12-06 22:15] steven1046 opened #2393 "Remove guide labels from /guides cards and suggested filters when the tag is set to visible: false"
See https://github.com/OpenLiberty/guides-common/blob/prod/guide_tags.json. Setting the run in cloud tag to visible is new for guides. We had to remove it for a couple of days, and reverting the ui code did that. When re-delivering the ui code to make it visible, it reappeared. The guide_tags.json was still set to visible: false though, so we should actually honor that boolean to show or hide the

[2021-12-08 16:11] kinueng commented on #2302
A skill network URL example showing the randomization data https://ol-staging.skillsnetwork.site/courses/course-v1:IBM+GPXX0G3KEN+v1/auto_enroll?next=/courses/course-v1:IBM+GPXX0G3KEN+v1/courseware/guided_project/guided_project

One suggested approach is to add an additional query parameter, like `guide-name=<guide title>` so that the analytics data can show some human understandable data.  The da

[2021-12-08 16:53] steven1046 opened #2400 "Handle blog posts with no author/co-author Github ID"
If an author has no Git id, we should not link to anything from their picture or name on the /blogs page and in the actual blog. Default to showing https://avatars3.githubusercontent.com/u/28316667 as a stock photo if there is no author or co-author image added:
![image](https://user-images.githubusercontent.com/6392944/145249624-b88c8c3e-8efe-464c-9268-89a94bef0de2.png)

[2021-12-08 20:17] kinueng commented on #2377
Closed as fixed
https://openliberty.io/start/#runtime_betas
![image](https://user-images.githubusercontent.com/31117513/145278228-1eb85ce1-71b6-4bec-9d35-04a7dff2d2a6.png)

[2021-12-08 20:19] kinueng commented on #2283
Closed as fixed and in production

[2021-12-08 20:19] #2283 closed, assigned to kinueng

[2021-12-09 15:33] kinueng commented on #2377
We need a cleaner fix that applies to all of the tabs.  Reopening to attach more PRs to this issue

[2021-12-09 18:10] mbroz2 commented on #2305
Note that the signature file will be in the same directory as the archives, and its name will be the name of the archive with `.sig` appended to it.
For example, the following archive:
https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/runtime/release/2021-11-17_1256/openliberty-javaee8-21.0.0.12.zip
if it had a signature it would be:
https://public.dhe.ibm.com/ibmdl/export/pub/softw

[2021-12-10 15:18] kinueng commented on #2378
Fixed in production, https://openliberty.io/start/
![openliberty io_start_](https://user-images.githubusercontent.com/31117513/145597315-16a83d54-d03e-4cba-92c1-909192cfb60c.png)

[2021-12-10 15:18] #2378 closed, assigned to Sreejith-Websphere

[2021-12-10 16:04] kinueng commented on #2377
There are some conversations within PR #2406 that may interest anyone looking for history on the v1.0 allowed list logic implementation

[2021-12-14 08:20] rVidhya opened #2408 "While doing WAS liberty upgrade from 19.0.0.8 to 20.0.0.12 the upgrade is failing at runtime by returning the null cookies"
The req.getCookies() is returning the cookies is null.
Error is :-
[ERROR   ] Unknown error
java.lang.Exception
[ERROR   ] The request does not have the required cookies for getting sessionId.

[2021-12-14 19:16] kinueng opened #2412 "HTTP 404 links on Nightly Builds"
# Problem
There are nightly builds shown on openliberty.io that no longer exist on DHE.  These builds have 404 links.

![image](https://user-images.githubusercontent.com/31117513/146064237-9124ea17-d125-4ad8-b7fd-57917e22f648.png)
![image](https://user-images.githubusercontent.com/31117513/146064301-c447c747-8399-4f28-a509-f0ebb9aa0be4.png)

# Endpoint
https://openliberty.io/api/builds/data

Respo

[2021-12-15 19:55] #2377 closed, assigned to kinueng

[2021-12-16 02:58] kinueng commented on #2412
This might be the related to https://github.com/OpenLiberty/openliberty.io/issues/2335

[2021-12-16 09:30] #2361 closed, assigned to Sreejith-Websphere

[2021-12-16 09:31] Sreejith-Websphere commented on #2361
Fixed

[2021-12-16 13:31] #2393 closed, assigned to Sreejith-Websphere

[2021-12-16 13:31] Sreejith-Websphere commented on #2393
Done

[2021-12-17 17:18] mbroz2 commented on #2305
info.json for 22.0.0.1 and beyond will be updated to also include the following fields:
`driver_signature_location` - the location of the sig for the driver (should be 1:1 mapping to the `driver_location`)
`package_signature_locations` - an array of signatures for the other packages (should be n:n mapping to the `package_locations`

An example json would therefore look like:
[code]

We can have lo

[2022-01-06 22:25] kinueng opened #2425 "Upgrade Ruby to version 2.6.6"
Ruby 2.5 is EOL.  Ruby dependencies are starting to remove support for it.  We need to move up to a newer Ruby.

See https://github.com/OpenLiberty/openliberty.io/pull/2424

Ruby EOL timeline
https://www.ruby-lang.org/en/downloads/branches/

Source code where Ruby 2.5 is installed
https://github.com/OpenLiberty/openliberty.io/blob/40b6845b1abf27f40fd6f3f8c3b31f3838426098/scripts/build/ruby_install

[2022-01-07 18:20] kinueng commented on #2305
I have finished and tested the code changes that are based on the new `info.json` from  https://github.com/OpenLiberty/openliberty.io/issues/2305#issuecomment-996888694.

FYI @cbridgha if you see that the proposed changes to `info.json` in https://github.com/OpenLiberty/openliberty.io/issues/2305#issuecomment-996888694 are not feasible, please let me know so I can change my code.

For now, I think

[2022-01-07 22:07] kinueng commented on #2305
The new code to expose the signature files are now live on https://ui-draft-openlibertyio.mybluemix.net/start/

[2022-01-11 15:25] #2425 closed, assigned to steven1046

[2022-01-11 15:29] kinueng opened #2432 "Upgrade Ruby to version 2.7 or higher"
Continuation of https://github.com/OpenLiberty/openliberty.io/issues/2425

Ruby 2.6 EOL is 2022-03-31.  Ruby dependencies may start removing support for Ruby 2.6.  We need to move up to a newer Ruby and see if our Ruby dependencies need to be adjusted.

Ruby EOL timeline
https://www.ruby-lang.org/en/downloads/branches/

Source code where Ruby 2.6.6 is installed
https://github.com/OpenLiberty/openl

[2022-01-11 16:22] mbroz2 commented on #1838
openliberty.io/certifications exists now as an dynamically generated page listing all the certifications.

[2022-01-11 16:22] #1838 closed

[2022-01-12 09:10] #2376 closed, assigned to Sreejith-Websphere

[2022-01-18 20:03] kinueng opened #2443 "Improve the ordering of the build zip files"
Better order the rows for the packages.  Currently MP5 is before MP4
https://openliberty.io/start/#runtime_releases
![image](https://user-images.githubusercontent.com/31117513/150010069-dac9f0c6-2b30-4c0d-a73e-386bc22beac8.png)

[2022-01-18 20:22] kinueng opened #2444 "Create a dedicated column for signature files"
Move the SIG download buttons to a dedicated column named "Verification".  The idea is the new dedicated column will be for files that are used for verification of the builds.

[2022-01-19 19:01] #2305 closed, assigned to kinueng

[2022-01-19 19:01] #2301 closed, assigned to steven1046

[2022-01-19 20:42] steven1046 commented on #2261
Should we link to the blog post (https://openliberty.io/blog/2021/08/20/open-liberty-starter.html) in the modal as well?

[2022-01-20 15:22] kinueng opened #2446 "Add a link to the public key used for verifying packages"
Related to #2305

We need to give a direct link to visitors wanting to verify downloaded packages from https://openliberty.io/start/.

The direct link is

From the hip suggestion (will reach out to docs team for guidance on wording)
Learn how to verify the release files by downloading the public key and following these instructions.

[2022-01-20 15:37] kinueng commented on #2446
Hi @dmuelle,
Can you help me find any improvements to the sentence that starts with "Learn how to..." in the image below.  The `this public key` links to https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/sign/public_keys/WebSphereLiberty_06-02-2021.pem and `instructions` links to https://openliberty.io/docs/22.0.0.1/verifying-package-signatures.html.

![image](https://user-images.gi

[2022-01-20 15:49] dmuelle commented on #2446
I think we should provide a little more info, because the public key is tricky. Maybe:

[code]

if you don't have that much screen real estate, could do

[code]

[2022-01-20 16:55] kinueng commented on #2446
Hi @dmuelle,

I prefer the long version since it speaks to both new and experienced developers on how to verify the downloaded files.

In the long version, we need to avoid saying `every package of Open Liberty release` because only `22.0.0.1` and future have signature files.  We display older releases that do not have signature files.  Do you have a suggestion on how to adjust your long version s

[2022-01-20 17:14] dmuelle commented on #2446
Starting with version 22.0.0.1, signature files are produced for every package of an Open Liberty release. You can use these signature files and the corresponding public key to verify the authenticity and integrity of an Open Liberty release package. For more information, see [Verifying Open Liberty release packages].

[Obtain the public key from this link]. Save the file from your browser as a `.

[2022-01-20 20:17] aknguyen7 commented on #2446
![image](https://user-images.githubusercontent.com/30509453/150415416-251f3546-6d4c-4d69-b5ed-c001467a4440.png)

[2022-01-21 07:13] #2446 closed, assigned to aknguyen7

[2022-01-21 16:08] steven1046 commented on #2363
This would require changing the docs repo `branch` to be `latest`, instead of the numerical `22.0.0.1` for example.

[2022-01-21 16:08] steven1046 commented on #2363
and in the playbook, we would pull in `latest`

[2022-01-21 16:26] steven1046 commented on #2363
We want to:
1. Change the playbook from 22.0.0.1 to latest
2. Create a docs repo (https://github.com/OpenLiberty/docs) branch called latest that is basically a copy of 22.0.0.1
3. Create a docs-generated (https://github.com/OpenLiberty/docs-generated) branch called latest that is basically a copy of 22.0.0.1
4. Update the instructions of the README to tell them to continue using latest, but to mer

[2022-01-21 16:33] steven1046 commented on #2363
We'll want to remove the latest redirect in the https://github.com/OpenLiberty/docs-playbook/blob/prod/doc-redirects.properties

[2022-01-21 19:29] kinueng commented on #1743
See Antora activity for supporting multi-language documentation
https://gitlab.com/antora/antora/-/issues/208#note_741630571
https://gitlab.com/antora/antora/-/merge_requests/548#note_803410536

[2022-01-24 15:15] kinueng commented on #1923
Antora 3.0.1 is now available at the time of this writing
https://docs.antora.org/antora/latest/whats-new/

[2022-01-24 16:02] kinueng commented on #2302
It was discovered that the suggestion in https://github.com/OpenLiberty/openliberty.io/issues/2302#issuecomment-988954339 will not work.

Additionally, the guides team indicated that they have a custom tool to map the randomized id to a guide title.  Given they have a custom tool, is this work item still needed?

[2022-01-24 16:08] kinueng commented on #2302
Additional details:

[2022-01-24 16:26] kinueng opened #2452 "Upgrade highlight.js version"
`highlight.js` is used to give color to code blocks.  An example of syntax color can be found for XML and Groovy on page https://openliberty.io/docs/latest/development-mode.html.

The history of why there is a hardcoded `highlight.js` in files https://github.com/OpenLiberty/openliberty.io/search?q=highlight.js was that CodeRay from our Jekyll stack cannot be used on the Antora pages (docs).  This

[2022-01-24 16:27] kinueng commented on #2452
My first attempt at moving `highlight.js` to v10 failed.  Please see what I tried in https://github.com/OpenLiberty/openliberty.io/pull/2433 and was later reverted in https://github.com/OpenLiberty/openliberty.io/pull/2445

[2022-01-24 16:32] kinueng commented on #2444
Related to https://github.com/OpenLiberty/openliberty.io/issues/1734

[2022-01-24 17:00] kinueng commented on #1923
We need the docs team to look around the docs for regression.
We need to see if the build is faster/slower with Antora 3.0.
We need to socialize new features in Antora to the docs team.

[2022-01-24 17:53] steven1046 commented on #2218
We have this check if it's a non prod site for jekyll:
[code]

If that is true, then noindex.html gets built by jekyll , and then later in the build process we copy over noindex.html into Antora's head files in noindex.hbs (handlebars).

We need something similar to be done in the Antora head-meta.hbs file. We need to change this file: https://github.com/OpenLiberty/openliberty.io/blob/prod/script

[2022-01-25 15:36] steven1046 commented on #1481
I need to review what i was doing, but i think this syntax mostly worked:

[code]

[2022-01-26 17:32] sdehors-ibm opened #2454 "Traces do not take LogRecordContext into account"
When a trace is printed in json, it goes through a log record created in com.ibm.ws.logging.internal.WsLogRecord#createWsLogRecord. It seems in that case the LogRecordContext is not taken into account and no extensions are logged along with the trace log.

Unless there is a way to configure the trace to take into account the log context this is an important feature to investigate problems from log

[2022-01-27 14:57] kinueng opened #2456 "MicroProfile 5.0 JavaDocs: Remove packages"
Related to https://github.com/OpenLiberty/docs-javadoc/pull/26

Remove these packages that were mistakenly pulled into the MicroProfile 5.0 Javadocs.
- jakarta.ejb
- jakarta.ejb.embeddable
- jakarta.ejb.spi
- jakarta.el
- jakarta.xml.bind
- jakarta.transaction
- jakarta.com.sun.activation.registries

[2022-01-27 14:59] kinueng commented on #2302
The guides team is in agreement to go ahead and close this issue for now.  If there are gaps that need to be closed in this area, we can revisit this issue.

[2022-01-27 14:59] #2302 closed, assigned to Sreejith-Websphere

[2022-02-04 18:35] #2456 closed, assigned to kinueng

[2022-02-07 18:56] mbroz2 opened #2484 "Update javadoc canonicals to include query params"
Currently, the canonical points to just the .html file without any query params.  For example, for
[https://openliberty.io/docs/22.0.0.1/reference/javadoc/microprofile-5.0-javadoc.html[…]activation/package-summary.html&package=allclasses-frame.html](https://openliberty.io/docs/22.0.0.1/reference/javadoc/microprofile-5.0-javadoc.html?class=jakarta/activation/package-summary.html&package=allclasses-

[2022-02-08 16:34] kinueng opened #2490 "Enhance Code Engine toolchain to allow for multi-region deployments"
The Code Engine (CE) toolchain team does not have plans to change the CE toolchain from one region deployment to multi-region deployment.  I was advised by the CE toolchain team that we can make the multi-region deployment enhancement using IBM Cloud CLI knowledge on my fork here https://github.com/kinueng/code-engine-toolchain/blob/1dd02a08b8e72141fe80e6905a0eecd3b66a72ad/.tekton/tasks/task-deplo

[2022-02-09 15:07] #2443 closed, assigned to Sreejith-Websphere

[2022-02-09 15:10] kinueng commented on #2454
Hello @sdehors-ibm,
Is this issue intended for the Open Liberty runtime?  The runtime GitHub repo is here https://github.com/OpenLiberty/open-liberty.  This issue is currently opened against the source code for the https://openliberty.io website

[2022-02-09 15:36] kinueng commented on #2444
In production, closing
https://openliberty.io/start/

[2022-02-09 15:36] #2444 closed, assigned to Sreejith-Websphere

[2022-02-09 15:55] kinueng commented on #2484
Google Search Console was scheduled to crawl the Javadoc pages and this issue was discovered.

[2022-02-10 14:14] yeekangc opened #2500 "Scan for Word Matters terms"
Scan for prohibited terms under Word Matters initiatives and lay a plan to address them.  This should cover all content on openliberty.io including guides.

@kinueng @gkwan-ibm @dmuelle @GraceJansen @atosak

Cc @mbroz2

[2022-02-10 14:17] yeekangc commented on #2500
We should also ensure that future content will follow what is needed here (and the contributors/reviewers will check for them).

[2022-02-10 14:23] gkwan-ibm commented on #2500
The guides already have automation (PR checker) to check prohibited terms.

[2022-02-10 15:49] kinueng commented on #2500
@gkwan-ibm can you point me to how the the guides automated the prohibited terms check?  I would like to learn how the automation works.

[2022-02-10 16:26] gkwan-ibm commented on #2500
In each guide repo, we define a github action, like https://github.com/OpenLiberty/guide-getting-started/blob/prod/.github/workflows/test.yml. The action will be run for any PR change. In line 24 to 32, we trigger the superlinter to check the java, yaml, and js files, etc. In line 21 to 23, we trigger our own checker to check the license year and prohibited words.

The source of our checker is loc

[2022-02-10 20:53] #2218 closed, assigned to aknguyen7

[2022-02-11 16:35] kinueng commented on #2351
Hello @bcoveny , I wanted to follow up on this issue.  The `kernel-slim-java17-openj9-ubi` is now available.

I confirmed by doing the following command:
`docker pull icr.io/appcafe/open-liberty:kernel-slim-java17-openj9-ubi`

[2022-02-15 18:04] kinueng opened #2514 "22.0.0.2 packages are incorrect at the bottom of the "Download package" list"
The 22.0.0.2 download packages are incorrectly listed at the very bottom of the table.  They should be at the very top.

https://openliberty.io/start/
![image](https://user-images.githubusercontent.com/31117513/154122041-78e31038-c347-49e6-9e82-f58793101bce.png)

[2022-02-15 20:47] #2514 closed, assigned to nobody

[2022-02-16 00:11] NottyCode opened #2517 "Bad error message when requesting docs for a version that doesn't exist"
If request docs for a release that doesn't exist you don't get a pretty 404 error, but a pretty nasty servlet one.

Goto: https://openliberty.io/docs/1/overview.html

and you get:

`Error 500: javax.servlet.ServletException: com.ibm.ws.webcontainer.exception.IncludeFileNotFoundException: SRVE0190E: File not found: /docs/1/overview.html.gz`

It should look like this: https://openliberty.io/404, or

[2022-02-16 00:39] mbroz2 commented on #2517
Closing as dup of https://github.com/OpenLiberty/openliberty.io/issues/2299

[2022-02-16 00:39] #2517 closed, assigned to nobody

[2022-02-16 01:32] mbroz2 commented on #2299
From #2517

[2022-02-17 22:20] aknguyen7 commented on #2183
per @yeekangc - update description in the meta header

start - Create a new starter application -- template Maven or Gradle project -- to build cloud-native Java applications using Jakarta EE and MicroProfile APIs and Open Liberty. Where to pull (Docker) container images of Open Liberty and download Open Liberty releases, beta and development builds.

blog - Latest news and information about Open

[2022-02-18 02:31] mbroz2 opened #2524 "Update docker pull to include icr.io"
Consider updating the section to something along the lines of:
![image](https://user-images.githubusercontent.com/3076261/154606622-929240d7-d43a-44b1-9d87-a86907ee8af3.png)

[2022-02-18 03:59] mbroz2 commented on #2183
Suggestions with slight alternations:
start - Create a starter application -- using Maven or Gradle -- to develop cloud-native Java applications using Jakarta EE and MicroProfile APIs on Open Liberty. How to pull Docker container images of, add Maven and Gradle coordinates for, and release, beta and development build downloads of Open Liberty.

blog - Latest news and information about Open Liberty

[2022-02-23 15:25] kinueng commented on #2490
Ongoing work can be found on this branch
https://github.com/kinueng/code-engine-toolchain/tree/multi-region-deployment

[2022-02-23 15:42] kinueng commented on #2500
Lets target this to be done by June 30

[2022-02-23 15:42] kinueng commented on #2500
We should also include OpenLiberty/start.openliberty.io

[2022-02-23 15:47] #1923 closed, assigned to aknguyen7

[2022-02-23 22:30] kinueng commented on #2454
Hi @sdehors-ibm,
I am closing this issue.  This repository is for openliberty.io website.  If you want to report this issue against the Open Liberty runtime, please use one of the templates on the Open Liberty runtime repo (e.g. Bug report).  Here is a link for your convenience https://github.com/OpenLiberty/open-liberty/issues/new/choose

[2022-02-23 22:30] #2454 closed, assigned to nobody

[2022-02-24 13:53] kinueng opened #2532 "Investigate if Antora can be used to build each releases' documentation separately for optimization"
As we move to containers, we need to look for ways to avoid rebuilding documentation that have been already built and has not changed.  Currently, the Antora playbook is pulling all documentation for each release and building them on every build.

Look for ways to pull prebuilt documentation and only build the latest version of documentation.

[2022-02-24 14:29] NottyCode opened #2533 "Custom http error pages"
Currently the open liberty website doesn't have any custom error pages for things like 500 errors.

We should absolutely look at the http error codes and have custom error pages for those cases.

[2022-02-24 15:52] kinueng commented on #2524
We would promote only one container registry rather than two choices.  The preference is to have `icr.io` (IBM Cloud Container Registry).  Before the change is made, we want to have documentation ready to describe the container image tags for users who want an image other than the one tagged as `latest`.

This issue depends on https://github.com/OpenLiberty/docs/issues/5233

[2022-02-24 22:50] aknguyen7 commented on #2183
per discussion on slack #was-open-liberty-site, start's description to be update:

Use Maven or Gradle to create a starter application for developing cloud-native Java applications on Open Liberty that use Jakarta EE and MicroProfile APIs. Information about Open Liberty Docker images, Maven and Gradle coordinates, and release, beta, and development build downloads.

[2022-02-28 16:16] atosak commented on #2500
@kinueng based on Gilbert's comments the guides already have automation (PR checker) to check prohibited terms. Is there a separate issue for openliberty.io or we will be reusing this issue?

[2022-02-28 16:20] kinueng commented on #2500
@atosak We will use this issue to track any work (manual or automated) for checking prohibited terms for openliberty.io and the Liberty Starter.  It will make tracking work all in one place.  FYI @aknguyen7

[2022-03-01 15:22] kinueng commented on #2500
@aknguyen7 you will have to also cover the interactive guides since those are maintained by us
https://github.com/OpenLiberty?q=iguide

[2022-03-02 03:27] mbroz2 opened #2539 "Update README.md"
Update the content of [README.md](https://github.com/OpenLiberty/openliberty.io/blob/prod/README.md), as it currently has incorrect content.

[2022-03-03 20:12] dmuelle commented on #2524
https://github.com/OpenLiberty/docs/issues/5233#issuecomment-1058441426

[2022-03-03 20:13] dmuelle commented on #2524
^ also need to get betas added to ICR

[2022-03-04 17:01] turkeylurkey opened #2544 "More emphasis on the Build Tool field in starter"
The "Build Tool" field doesn't get the same visual emphasis as the others near the top of the site: openliberty.io/start/

The eye is drawn to the five fields with green boxes around them: "Group," "Artifact" etc.  Using the site I did not notice the "Build Tool" field at first and the tool generated a Maven project when I actually wanted a Gradle project.

Could you draw a green box around the se

[2022-03-04 17:06] kinueng commented on #2544
Link to UI in question:

- https://openliberty.io/start/

Snapshot of the UI (Note: I had set the Java SE to a non-default choice in the picture)
- ![image](https://user-images.githubusercontent.com/31117513/156807628-374c21a6-2cad-4321-8f6e-f8d685a98a2d.png)

[2022-03-04 18:33] mdenby commented on #2544
My suggestion is to change the selected radio button to have green. Here are two options:

 <img width="417" alt="Screen Shot 2022-03-04 at 1 30 52 PM" src="https://user-images.githubusercontent.com/26823018/156821472-b445d6ad-c170-4933-8735-b23de9ae74d1.png">

<img width="403" alt="Screen Shot 2022-03-04 at 1 30 47 PM" src="https://user-images.githubusercontent.com/26823018/156821476-b14bf2f4-874

[2022-03-04 19:10] kinueng commented on #2544
@mdenby What about having the two circles always be green and the dot always be black?
![image](https://user-images.githubusercontent.com/31117513/156826881-c9bfc36d-4d44-4165-874d-adc64198bf2e.png)

[2022-03-07 17:00] aknguyen7 commented on #2183
verified in prod

[2022-03-07 17:00] #2183 closed, assigned to aknguyen7

[2022-03-09 18:41] kinueng opened #2550 "Blog is showing URL in orange text that should be clickable"
![image](https://user-images.githubusercontent.com/31117513/157508994-e65cb619-fe5d-4ce7-bb5c-cd38f06c5037.png)

Code in question:
https://github.com/OpenLiberty/openliberty.io/blob/a032bc0bfd6ea58bb8398fb6792ca7d3b7140519/src/main/content/index.html#L203

[2022-03-09 19:22] kinueng commented on #2550
It was misleading to have the orange text being plaintext instead of a clickable link.  Orange text throughout the website indicates its a clickable element.

[2022-03-10 20:05] steven1046 commented on #1870
FYI for implementation: (for features) Make sure we address the mapping of Java EE 8 to Jakarta EE 9 namespaces when adding this banner. We should have a similar list of mapping like we do in https://github.com/OpenLiberty/openliberty.io/issues/1870. The banner would likely be implemented in another doc javascript file , and if we detect the user is on an older Java EE 8 feature name and they clic

[2022-03-14 17:39] mdenby commented on #2544
That works too! It looks good.

[2022-03-14 18:03] turkeylurkey commented on #2544
Sure. 👍

[2022-03-15 14:54] steven1046 commented on #1481
@gkwan-ibm @yeekangc please try the instructions at https://github.com/OpenLiberty/openliberty.io/wiki/How-to-add-Gradle-Instructions-to-guides to test adding Gradle to guides.

[2022-03-15 17:44] kinueng commented on #2544
Hi @mdenby, please help us edit these two SVG files to have a green circle while keeping the dot black.

https://github.com/OpenLiberty/openliberty.io/blob/prod/src/main/content/img/radio-button.svg
https://github.com/OpenLiberty/openliberty.io/blob/prod/src/main/content/img/radio-button--checked.svg

[2022-03-16 17:45] #2544 closed, assigned to nobody

[2022-03-16 18:09] steven1046 opened #2562 "Make the doc version switcher scrollable"
<img width="401" alt="image" src="https://user-images.githubusercontent.com/6392944/158658185-3634f2e9-31b9-4fb5-8391-06d3c5e54771.png">

With small browsers / even laptops you can't reach the full list of versions. You can still see the whole list if you scroll the rest of the page but it might be good if the reader doesn't have to scroll the page to see the dropdown list.

[2022-03-16 19:51] kinueng opened #2564 "Debug and re-enable the GitHub Action for Word Matters terms"
The PR checker for prohibited terms was not working and I had to disable the GitHub Action.  I disabled through renaming the file from `*.yml` to `*.yml.disabled`
https://github.com/OpenLiberty/openliberty.io/blob/draft/.github/workflows/test.yml.disabled

[2022-03-17 01:41] kinueng commented on #2544
FYI @mdenby, I got the images updated.
I hand edited the XML file of the SVGs to add the green and increase the stroke with to 2px like the other input fields.

[2022-03-19 10:27] krzysztof-dzik opened #2567 "Open API file not found: liberty-swagger-ui*"
New project generated  from https://openliberty.io/start/  (MP5.0 JEE:None JSE:11):
http://localhost:9080/openapi/ui/ - lack of formatting due to missing .js and .css resources

[2022-03-22 18:07] #2539 closed, assigned to aknguyen7

[2022-03-22 22:44] #2452 closed, assigned to aknguyen7

[2022-03-23 14:34] kinueng opened #2571 "Local development can be slow when working on docs page"
When working on the docs page, the Antora build scripts need run to include the development changes to JS/CSS/HTML.  This feedback loop for local development is too long.  Look for ways to improve this situation (e.g. instructions on how to skip steps or reduce the amount of data being processed).

[2022-03-23 14:39] kinueng commented on #2484
Please see if Google Search Console is honoring the new query parameters in the canonicals field.  The changes are in production.

[2022-03-23 14:41] kinueng commented on #2299
done

[2022-03-23 14:41] #2299 closed, assigned to Sreejith-Websphere

[2022-03-23 16:38] mbroz2 commented on #2484
No it doesn't see like doing the canonical update on the client side is affecting results in Search Console (likely they're either grabbing canonical prior to js running, or directly out of the html).  Seems like this will need to be injected at build time or server side at run time.

Also, there seems to be URLs at https://openliberty.io/docs/modules/reference/liberty-jakartaee9.1-javadoc which a

[2022-03-23 18:16] steven1046 commented on #2309
Please ensure to use the accessibility checker with ruleset at least July 2021 or later.

[2022-03-23 18:43] steven1046 commented on #2484
I think we need to add Jakarta logic here: https://github.com/OpenLiberty/openliberty.io/blob/prod/src/main/content/_assets/js/javadoc-redirect.js

[2022-03-23 21:36] kinueng opened #2573 "Reorder the download packages into groups rather than alphabetical"
When changing the order, the code needs to be careful where it enforces the new ordering.  Browser side would not be ideal.  The ordering can be done in the `/builds` endpoint code or have DHE reorder the rows in `info.json` ([example](https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/runtime/release/22.0.0.3/info.json)).

Change the download packages to this style of ordering
![ima

[2022-03-24 11:14] Sreejith-Websphere opened #2574 "liberty-jakartaee is not redirecting"
URLs at https://openliberty.io/docs/modules/reference/liberty-jakartaee9.1-javadoc which are not being redirected. For example:
https://openliberty.io/docs/modules/reference/liberty-jakartaee9.1-javadoc/jakarta/batch/runtime/context/package-summary.html
https://openliberty.io/docs/modules/reference/liberty-jakartaee9.1-javadoc/jakarta/faces/component/NamingContainer.html not getting redirected

[2022-03-24 11:18] Sreejith-Websphere commented on #2484
i created liberty-jakartaee not redirecting as a seperate issue
 #2574

[2022-03-24 18:58] kinueng opened #2577 "Remove TravisCI files"
TravisCI is no longer used.  Remove the no longer used files that were for TravisCI builds.

[2022-03-25 11:14] Emily-Jiang opened #2579 "Improvement on Beta download page"
On the beta download page, there is not much information on the beta. I think it is a good idea if we can add a link to point to the beta blog post so that people to browse the blog to find out the beta content.

[2022-03-25 16:19] Emily-Jiang commented on #2579
I thought this further, we can do the same thing for GA release as well. Thoughts?

[2022-03-28 14:59] #2261 closed, assigned to Sreejith-Websphere

[2022-03-31 22:26] NottyCode opened #2590 "Need to document our REST APIs"

[2022-03-31 22:29] NottyCode opened #2591 "Release builds should provide link to test results"
It should be possible to navigate to the test results for a release build as well as the nightly ones. I know it should be complete pass, but we should still do it.

[2022-04-04 17:28] kinueng opened #2593 "Remove unnecessary metadata"
There is no need for the website to disclose
[code]

[2022-04-06 15:50] aknguyen7 commented on #2564
Done

[2022-04-06 15:50] #2564 closed, assigned to aknguyen7

[2022-04-07 04:03] kinueng opened #2595 "Create container images for openliberty.io"
Create container images for openliberty.io.  Have multiple images to accommodate the various site configurations documented here https://github.com/OpenLiberty/openliberty.io/wiki/Websites-&-branch-breakdown

[2022-04-07 13:35] yeekangc commented on #2595
This should be helpful.  If we can make one available for development purposes (for blog authors), that is useful too?

[2022-04-11 14:24] tevans78 opened #2600 "Ensure that the ol.io layout remains the same if social media widgets are not loaded"
Blocking tracking cookies on a browser can prevent some widgets from loading (e.g. twitter timeline). If the widget does not load then the rest of the layout can be broken. This can be avoided using a fixed sized outline in the place that the widget would load. If the widget does not load then a helpful message can be displayed to make it clear that something is missing and the likely reasons why.

[2022-04-19 19:57] steven1046 commented on #2571
https://docs.antora.org/antora-ui-default/build-preview-ui/

Gulp preview could be investigated to test changes. I know there was once a way to rebuild the docs faster, but the downside is that it would use mock content instead of our actual docs.

[2022-04-20 21:12] dmuelle opened #2612 "Text under H3 heading is larger than other text"
We recently discovered that in the docs pages, any text under an H3 heading is showing up as weirdly large. For example see

 https://openliberty.io/docs/latest/network-hardening.html#_mutual_authentication

In this case, **Mutual authentication** is an H3 header, and the text looks large, while **TLS connectivity** is H2 and the text looks normal. Also seems that bulleted text, even under H3, sta

[2022-04-20 21:49] aknguyen7 opened #2613 "download file app-name.zip with JDK17 not able to build with gradle"

[2022-04-21 12:35] kinueng commented on #2363
The code has been merged into all the branches.  The last piece of work is to update the READMEs to remove any steps that are no longer needed now that `latest` can be hardcoded in various files.

[2022-04-21 13:30] gkwan-ibm opened #2614 "javadoc url with parameters cannot be switched correctly"
The url with the actual latest version [https://openliberty.io/docs/22.0.0.4/...?package=...](https://openliberty.io/docs/22.0.0.4/reference/javadoc/microprofile-4.0-javadoc.html?package=org/eclipse/microprofile/metrics/annotation/package-frame.html&class=overview-summary.html) cannot  show the package that from the parameters. It switches to `https://openliberty.io/docs/latest/...`

But, the late

[2022-04-21 14:14] kinueng commented on #2595
This work is being done on branch `docker` https://github.com/OpenLiberty/openliberty.io/tree/docker

[2022-04-21 16:18] aknguyen7 commented on #2500
done

[2022-04-21 16:18] #2500 closed, assigned to aknguyen7

[2022-04-21 16:39] aknguyen7 opened #2618 "starter.openliberty.io: download zip for Jakarta None, MP5.0 build with gradle failed"

[2022-04-21 21:34] aknguyen7 commented on #2618
I compared the Jakarta None, MP 5.0 using maven and it also has compile warnings about the javax.ws.rs but doesn't failed the build. The splash page comes up when I test locally

[code]

[2022-05-04 13:28] gkwan-ibm opened #2636 "Guide TOC does not scroll up automatically"
For a guide with long TOC like `https://openliberty.io/guides/liberty-deep-dive.html`, when scroll the main content, the TOC can highlight the current section/subsection. When scroll the main content further down, the TOC does not scroll up automatically, users may not know which is the current section. Like the following screenshot, the main content at the "Securing RESTful APIs" section, but the

[2022-05-04 14:04] kinueng commented on #2574
Hi @Sreejith-Websphere,
I see the redirect is now partially working in production. What I am noticing is the query parameters are not being honored after the redirect happens for the two URLs in the description

https://openliberty.io/docs/modules/reference/liberty-jakartaee9.1-javadoc/index.html?jakarta/batch/runtime/context/package-summary.html

https://openliberty.io/docs/modules/reference/libe

[2022-05-04 14:05] kinueng commented on #2562
Done in production

Using Chrome
![image](https://user-images.githubusercontent.com/31117513/166698556-e2af0fa0-9a8c-44a8-8826-43863762e005.png)

[2022-05-04 14:05] #2562 closed, assigned to Sreejith-Websphere

[2022-05-04 14:17] kinueng commented on #179
Hi @steven1046, what is the current status of this issue?

[2022-05-04 14:32] steven1046 commented on #179
I provided a suggested fix above.

[2022-05-04 14:39] kinueng commented on #2600
Recreation steps
- Use Firefox
- Turn Firefox Strict Tracking protection on (default is Standard)
- Observe Strict removes the Twitter tiles
- Observe double scrollbars on openliberty.io
- Notice the background cloud is shifting out of place

Picture from Firefox with Strict policy enabled
![image](https://user-images.githubusercontent.com/31117513/166705375-ab1e106c-481e-4d4b-81e6-2c4f332106b3.pn

[2022-05-04 14:57] kinueng commented on #2636
Hi @gkwan-ibm, is this a regression or a feature request?

[2022-05-04 14:59] kinueng commented on #2636
Or maybe this is a bug that just happened to be discovered now because this is our first time having a very long TOC?

[2022-05-04 16:26] #2432 closed, assigned to aknguyen7

[2022-05-04 19:17] gkwan-ibm commented on #2636
Yes, it is the first time to have long TOC

[2022-05-05 19:44] kinueng opened #2644 "Evaluate sitemap change frequency for docs"
# Problem
The version in the documentation URL no longer changes now that /latest/ is supported. Currently the `<changefreq>` is `monthly`. Look to see if this interval needs to be changed.

See site map here
https://openliberty.io/sitemap.xml

[2022-05-09 09:04] #2226 closed, assigned to Sreejith-Websphere

[2022-05-09 09:05] #2363 closed, assigned to Sreejith-Websphere

[2022-05-09 09:35] Sreejith-Websphere commented on #2579
@Emily-Jiang @kinueng @aknguyen7 can we have version eg: 22.0.0.5-beta act as a link to beta blog post https://openliberty.io/blog/2022/04/13/22005-beta.html, so each beta version has a link to their respective blog post, Need input
<img width="1792" alt="Screenshot 2022-05-09 at 2 53 54 PM" src="https://user-images.githubusercontent.com/87368885/167383144-ecc48c48-f218-4621-9458-eb18d1e9c1f2.png"

[2022-05-09 09:42] Emily-Jiang commented on #2579
I think it is a good idea, maybe just add one more column.

[2022-05-09 17:09] kinueng commented on #2579
Hi @Emily-Jiang,

The Beta downloads page has a link to all the blogs related to the beta builds. The sentence `Beta content may change from release to release` is a link to the blog posts with the `beta` tag. This is the link https://openliberty.io/blog/?search=beta&key=tag.

The top blog post filtered by beta tag is for `22.0.0.5-beta`.

Would it help if we rework the `Beta content may change fr

[2022-05-10 14:10] kinueng opened #2645 "Use minified JavaScript files found on docs page"
While running Chrome Lighthouse on this page ([link](https://openliberty.io/docs/latest/reference/javadoc/liberty-jakartaee8-javadoc.html?class=javax/batch/api/chunk/AbstractItemReader.html#close--&package=allclasses-frame.html)), the three JS files below were flagged as potential performance savings if they were minified.

- https://openliberty.io/docs/modules/reference/liberty-javaee8-javadoc/jq

[2022-05-12 15:00] #2614 closed, assigned to Sreejith-Websphere

[2022-05-13 14:19] #2612 closed, assigned to Sreejith-Websphere

[2022-05-14 17:42] chunlongliang-ibm opened #2649 "authentication with openshift does not work with bound service account token"
Liberty supports login with openshift service account token, one of following methods work:
https://www.ibm.com/docs/en/cloud-paks/cp-applications/4.3?topic=authentication-authenticating-openshift.
https://www.ibm.com/docs/en/cloud-paks/cp-applications/4.3?topic=authentication-authenticating-service-account
However, if service account token is bound service account token, neither works. Bound serv

[2022-05-14 17:48] chunlongliang-ibm commented on #2649
The fix is fairly easy. When calling k8's tokenreviews API, today Liberty sends request message like this:
curl -X "POST" "https://{kubernetes API IP}:{kubernetes API Port}/apis/authentication.k8s.io/v1/tokenreviews" \
     -H 'Authorization: Bearer {your bearer token}' \
     -H 'Content-Type: application/json; charset=utf-8' \
     -d $'{
  "kind": "TokenReview",
  "apiVersion": "authentication.

[2022-05-14 18:10] chunlongliang-ibm commented on #2649
Note that bound service account token does not work with this api, <okdServiceLogin userValidationApi="https://cluster.domain.example.com/apis/user.openshift.io/v1/users/~" />, and only work with https://{kubernetes API IP}:{kubernetes API Port}/apis/authentication.k8s.io/v1/tokenreviews API.
If we are going to fix https://www.ibm.com/docs/en/cloud-paks/cp-applications/4.3?topic=authentication-aut

[2022-05-16 02:22] mbroz2 opened #2650 "Provide ability to disable 'run in cloud' link/button for guides without rebuilding site"
If there's an issue with SNL that's impacting the OL guides, it would be good to have a way to remove the link to the SNL version of the guide without needing to rebuild the server.

1. Add 'Heath Check' call/logic to ol.io server-side code (executes once every ~10min)
    - Preferably, this would just call a (public) health check provided by SNL.
    - Another option would be to GET some file in

[2022-05-19 15:52] kinueng opened #2660 "Add blog post links describing the content of each download package"
This issue is an continuation of https://github.com/openliberty/openliberty.io/issues/2579

# Description
In most cases, each publication of Open Liberty release and beta driver has a corresponding blog post. Add a link near the download package so users can see what is new for that particular driver (i.e. Release Notes).

# Area of enhancement
https://openliberty.io/start/#downloads-pkg

# Requir

[2022-05-19 17:05] mbroz2 commented on #2660
Comments regarding the above:
I would prefer front matter to be used this that would provide a list of applicable releases for a blog post.  In general, I expect that list to be of length 1, but this does provide us the flexibility to reuse a beta release blog post across multiple releases (if nothing had changed).

[2022-05-20 13:23] gkwan-ibm commented on #2650
**Stage 1:**
When the cloud-hosted guide is in maintenance, we can enable the announcement on OL SN portal with a metadata manually. The ol.io site can call `curl -H "Authorization: Token $API_KEY" https://openliberty.skillsnetwork.site/api/v1/announcements/current`, where  $API_KEY is defined in OL SN portal admin > Developer. The url will return the following
[code]
If no announcement, the url w

[2022-05-20 13:28] gkwan-ibm commented on #2650
Also, need to design the GUI behavior, e.g. disable the "Run in cloud" button and the hover text should display a message to tell users the cloud-hosted guide is temporarily unavailable.

[2022-05-20 19:13] kinueng opened #2663 "New configuration for Asciidoc pages to be excluded from search indexes"
Related to https://github.com/OpenLiberty/blogs/issues/2269

Support a new custom front matter attribute that will add the `<meta name="robots" content="noindex">` to the page's HTML.

The solution is based on https://developers.google.com/search/docs/advanced/crawling/block-indexing

Per Google's documentation ([link](https://developers.google.com/search/docs/advanced/robots/intro#understand-the-

[2022-05-20 19:14] kinueng commented on #2663
This is related to the discussion from https://github.com/OpenLiberty/blogs/issues/2269

[2022-05-23 15:08] kinueng commented on #2663
My thoughts are we can add another if-condition `{% if page.noindex %}` to https://github.com/OpenLiberty/openliberty.io/blob/697ec60ab71dd412c468b10c860f97615c99a8b5/src/main/content/_includes/head.html#L59-L61.

[2022-05-23 20:38] kinueng opened #2665 "Redirect javadoc URLs for the package iframe to the full javadoc page"
# Problem
One of the iframe content from the javadocs are being indexed by search engines.

# Recreation steps
I subset of URLs that should not be indexed by search engines.
- https://openliberty.io/docs/modules/reference/microprofile-4.0-javadoc/org/eclipse/microprofile/context/package-frame.html
- https://openliberty.io/docs/modules/reference/liberty-jakartaee9.1-javadoc/jakarta/enterprise/injec

[2022-05-25 14:43] kinueng commented on #2665
Found similar URLs that users should not be using but they are showing up in search results

Search example
https://www.google.com/search?q=Package+jakarta.batch.runtime.context+-+Open+Liberty
![image](https://user-images.githubusercontent.com/31117513/170289866-22ba0cc9-ed80-47b3-8014-ebd6f39a0103.png)

- https://openliberty.io/docs/modules/reference/liberty-jakartaee9.1-javadoc/index.html?jakart

[2022-05-25 14:45] kinueng commented on #2574
Closed as resolved, but added additional unrelated problems to #2665

[2022-05-25 14:45] #2574 closed, assigned to Sreejith-Websphere

[2022-05-25 14:56] kinueng commented on #2484
We will explore creating a new Servlet filter to add the correct canonicals to the HTML content served by a redirect request.

Edit June 14: When trying to add a new Servlet filter, there was a roadblock on getting the new filter to run (e.g. ordering of the filters) correctly. We want the filter to add the query parameter to the HTML that is returned as a response to the redirect HTTP request.

[2022-05-25 16:25] kinueng commented on #2579
For the short term improvement, we can rework the existing wording on the beta view. Long term, we will use #2660.

Hi @dmuelle,
Can you help refine how the beta blog posts are promoted the beta table here, https://openliberty.io/start/#runtime_betas?

Here is my novice attempt
![image](https://user-images.githubusercontent.com/31117513/170313030-a5089e3b-dea0-40e7-80fe-0b069adea2b6.png)

[2022-05-25 19:51] dmuelle commented on #2579
I think this looks good. A minor tweak for IBM Style:

Beta content might change from release to release. For more information, see our beta blog posts.

One question though- what do we mean by "Beta content might change from release to release" ? Doesn't the beta content almost always change for every release? Or are we trying to say that beta content might change during the course of a release?

[2022-05-25 20:10] kinueng commented on #2579
RE: https://github.com/OpenLiberty/openliberty.io/issues/2579#issuecomment-1137786519

I do recall that it is rare but can happen where a beta doesn't have new content and so we use "might change".

Hi @mbroz2,
Can you help answer @dmuelle question about how the beta release changes? I do not know the answer

[2022-05-25 22:06] Emily-Jiang commented on #2579
I don't think we need the text `Beta content may change from release to release` at all, because we only display one beta image. The link should just point to the latest beta blog post.

[2022-05-26 03:13] mbroz2 commented on #2579
Liberty's zero migration dictates that once something is formally released, it doesn't change.  This is not the case for beta content, and that's what that sentence was trying to capture.  We could change that section to state the following, though it might be a bit too wordy and 'obvious' as we're pretty much defining what is commonly known to be beta content:

Alternatively, the second sentence

[2022-05-26 14:40] dmuelle commented on #2579
Is "socialize" more of an internal IBM term? If so, maybe something like

Also- since there is only ever 1 beta available at a time, we might put the codesigning explanation after the table to avoid a big block of text that might make the beta seem more complex than it is. Just a thought.

[2022-05-26 17:54] kinueng opened #2688 "Add links to list of integrated projects"
When possible, make these projects clickable so users can be taken to the project's homepage

https://openliberty.io/#logos_title
![image](https://user-images.githubusercontent.com/31117513/170546956-5e7ebe7c-ba10-4149-a5f7-061e8cf83880.png)

[2022-05-26 22:18] Emily-Jiang commented on #2579
Sounds good! I like the idea of using a codesigning explanation.

[2022-06-02 12:25] #2663 closed, assigned to nobody

[2022-06-02 12:50] #2391 closed, assigned to Sreejith-Websphere

[2022-06-06 16:19] kinueng opened #2709 "Update feature names in "Develop cloud-native Java microservices" homepage section"
Look through the names used in section https://openliberty.io/#develop_container and update ones to their latest name.
![image.png](https://images.zenhubusercontent.com/59d7b56bb0222d5de47a9368/66c965c1-a85a-4fa4-8c5d-4c9dd89b0626)

[2022-06-06 18:51] yeekangc commented on #1481
@ryan-storey @gkwan-ibm and team tested what has been provided.

If I am mistaken, what's outstanding is described in https://github.com/OpenLiberty/openliberty.io/issues/1481#issuecomment-640844509 particularly the 4th bullet.  Ryan/Gilbert, can you please confirm?

[2022-06-07 13:55] gkwan-ibm commented on #1481
yes, the outstanding is the 4.1-th bullet.

[2022-06-07 14:54] deboer-tim opened #2710 "Improve feedback (avoid failure) when JAVA_HOME not set"
I'm using 22.0.0.5 on OpenJDK 17.0.3+7 on Mac M1. I used the Adoptium installer.

Starting a server that had been running fine on other machines (Linux, previous Macs) I got the following error:
`[ERROR   ] CWWKZ0002E: An exception occurred while starting the application X. The exception message was: com.ibm.ws.container.service.state.StateChangeException: org.jboss.weld.exceptions.WeldException:

[2022-06-08 14:00] #2600 closed, assigned to kinueng

[2022-06-08 14:00] #2688 closed, assigned to kinueng

[2022-06-08 15:56] aknguyen7 opened #2715 "guides-common/guide_tags.json missing " on dev branch"
![image](https://user-images.githubusercontent.com/30509453/172662564-12dcfe14-ca2b-48d0-acc5-0e9e2ba04ec3.png)

[2022-06-09 16:34] kinueng commented on #2715
Fixed by https://github.com/OpenLiberty/guides-common/pull/819

[2022-06-09 16:34] #2715 closed, assigned to Sreejith-Websphere

[2022-06-10 15:24] kinueng commented on #2709
I reached out to @Emily-Jiang and here was my take away actions

1. All occurrences of `Eclipse MicroProfile` should be updated to be `MicroProfile`.
1. `JWT Propagation` can be shortened to `MicroProfile JWT`.
1. There is a request to change `JAX-RS` to `Restful WS`. Do you agree with this change?
     1. Emily: JAX-RS is still in use. There was not an agreement on the new acronym. I think JAX-RS

[2022-06-10 17:23] dougbreaux opened #2718 "Increase the number of entries available in RSS feed"
From discussion at https://gitter.im/OpenLiberty/developer-experience?at=629f4a2d09eea00aded1d1e8

Having just discovered the blog, I'd like my feed reader to "catch up" with all posts. So I'd prefer the feed to go back as far as it exists. Which is pretty normal for feeds, in my experience.

[2022-06-14 14:14] kinueng commented on #2490
There is now a CE Toolchain template in IBM Cloud. We need to understand what is the difference between the template vs. using https://github.com/open-toolchain/code-engine-toolchain

[2022-06-14 14:47] kinueng commented on #2650
We would like to avoid having the requirement for an $API_KEY when using the API to get health data.

[2022-06-14 18:58] kinueng opened #2719 "RSS Feed: Blog posts that link to external site have broken URLs"
# Problem
There are some blog posts that are designed to link to an external domain. The problem with these specific links the `feed.xml` does not contain the external domain URL and contain an incorrect URL of `https://openliberty.io/blog/redirected.html`

You can see this problem on

# Feedly
https://feedly.com/i/subscription/feed/https%3A%2F%2Fopenliberty.io%2Ffeed.xml
<img width="699" alt="ima

[2022-06-14 20:58] kinueng commented on #2718
Hi @dougbreaux,
Can you share what RSS reader tool you use?

I have noticed that some RSS readers (e.g. Newsblur, Feedly) have access to entries that are no longer present in the openliberty.io RSS feed (i.e. https://openliberty.io/feed.xml). This suggests that some RSS readers are storing older entries from previous fetches for entries.

Caching old entries is nice but the drawback would be that

[2022-06-14 21:00] kinueng commented on #2718
At this time, we have 212 blog posts. Increasing `jekyll-assets` from `10` to a value greater than 212 would increase the size of `feed.xml`.  I still need to observe the file increase if all the blog posts were packed into `feed.xml`.

[2022-06-14 22:58] dougbreaux commented on #2718
I'm using Thunderbird.

And if I'd gotten them earlier, they'd still be cached. It's when somebody grabs the feed after the fact that it needs to get more than the last 10. Hundreds, or even thousands, of feed entries are pretty normal. See podcast feeds, for instance, where you can usually go back the entire history of the podcast.

[2022-06-15 21:49] gkwan-ibm commented on #2650
hi Kin, not sure what you mean. The portal API requires API_KEY. I doubt the portal can be configured to avoid API_KEY to access the API. Are you asking an enhancement for the portal?

[2022-06-16 15:22] lauracowen opened #2720 "Open Graph images for blog posts not displaying on Twitter (but are fine on LinkedIn)"
The open graph images (Twitter image picked up from a blog post) doesn’t seem to be working at the moment.

For example, the recent Tweet of this blog post just uses the default image: https://twitter.com/emilyfhjiang/status/1536280727553187840

A different image has been specified in the source: `open-graph-image: https://openliberty.io/img/blog/deepdive.png`

Looking back, another recent post tw

[2022-06-22 18:56] kinueng commented on #2720
I agree we should remove the starting and trailing whitespaces in the `og:image` property, however I think there is a bigger problem.

Per Twitter's documentation, they look for twitter metadata before falling back to Open Graph metadata
https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started#opengraph

We currently **always** set the Twitter specific image property

[2022-06-23 11:25] lauracowen commented on #2720
Ah....so we're effectively, for Twitter, overwriting our own Open Graph property. Could we automatically set the Twitter specific image property to whatever is set for the Open Graph property?

[2022-06-23 18:08] kinueng commented on #2720
I decided to remove the `twitter:image` property completely. Since the front matter attribute for our blog Asciidoc files is `open-graph-image`, I didn't want to tie the attribute to the Twitter property. I will trust Twitter will fallback (per their documentation) to the `og:image` property. I will test to confirm.

[2022-06-23 19:24] dmuelle opened #2723 "Some Jakarta feature pages are not properly ordering the feature versions"
In the Docs reference section, the JSON-P and JSON-B feature pages (and the related container features for each) are not resolving correctly. The FeaThey are defaulting to the older 1.0 version instead of 2.0 and the L to R ordering of the feature tabs is reversed.

As a result, the pre-jakarta names are also showing in the TOC instead of the current feature names (JavaScript Object Notation... in

[2022-06-28 18:52] kinueng commented on #2720
The changes are now in production. I learned that the preview picture will not show if we use our test site URLs due to their `robots.txt`. Unfortunately, I am still getting a lot of mixed results with the new changes to only rely on `og:image`.

# Using https://cards-dev.twitter.com/validator
## Example 1 (Working, `og:image` showing)
`https://openliberty.io/blog/2022/06/03/liberty-deep-dive.html

[2022-06-28 19:24] kinueng commented on #2709
Hi @dmuelle, can you help assist in rewriting the paragraph so that the two links in `Jakarta EE. Zero migration` are not next to each other. Right now the two unique links visually look like one link.
<img width="519" alt="image" src="https://user-images.githubusercontent.com/31117513/176268131-604a9001-39f1-4310-b283-a1fbaee6fab4.png">

[2022-06-28 19:47] dmuelle commented on #2709
Here are a couple options. I prefer the first-

Open Liberty starts up fast, with a low memory footprint and live reload for quick iteration. Adding and removing features from the latest versions of [MicroProfile](https://openliberty.io/docs/latest/microprofile.html) and [Jakarta EE](https://openliberty.io/docs/latest/jakarta-ee.html) is simple.  And with [zero migration](https://openliberty.io/do

[2022-06-29 12:07] lauracowen commented on #2720
I got the same results in the validator as you, using the same URLs. I don't understand why one URL works and the other doesn't.

[2022-06-29 14:44] kinueng commented on #2124
Work is here https://github.com/OpenLiberty/openliberty.io/tree/i18n

Looks like there is more code for:
- Translation support for guides page
- Blog tag support for non-English posts
- Various WIP code

[2022-06-29 14:51] kinueng opened #2727 "Translate documentation"
Look for ways to translate the Antora pages without native support for multi languages in Antora (it is still not delivered_

[2022-06-29 15:24] kinueng commented on #2665
Our thoughts are that the code that handles a URL like https://openliberty.io/docs/modules/reference/liberty-jakartaee9.1-javadoc/jakarta/batch/api/AbstractBatchlet.html and redirects it to https://openliberty.io/docs/latest/reference/javadoc/liberty-jakartaee9.1-javadoc.html?package=jakarta/batch/api/package-frame.html&class=jakarta/batch/api/AbstractBatchlet.html is unable to handle the two brok

[2022-06-29 16:42] kinueng commented on #2720
Today I Learned...

Twitter will dynamically update tweet preview cards. I can now see that Emily's tweet is showing the `og:image`.

# https://twitter.com/emilyfhjiang/status/1536280727553187840
<img width="604" alt="image" src="https://user-images.githubusercontent.com/31117513/176490695-e509c6f2-4c44-4985-beb7-7baf8fee5185.png">

# https://twitter.com/emilyfhjiang/status/1521791420201377792
<im

[2022-06-29 18:05] Sreejith-Websphere commented on #2665
Hi @kinueng  noticed that for this issue
for all the jakarta/javaee/microprofile which ends frame.html is not redirecting eg:
https://openliberty.io/docs/modules/reference/liberty-javaee8-javadoc/overview-frame.html
https://openliberty.io/docs/modules/reference/liberty-javaee8-javadoc/allclasses-frame.html
https://openliberty.io/docs/modules/reference/liberty-javaee8-javadoc/allclasses-noframe.htm

[2022-06-29 20:18] kinueng commented on #2723
# Observations
The file that handles the version picker for a specific feature is [parse_features_toc.py](https://github.com/OpenLiberty/openliberty.io/blob/prod/scripts/build/parse_features_toc.py). One of the responsibilities of this code is to consolidate each feature's versions together. For example, [`webProfile`](https://openliberty.io/docs/latest/reference/feature/webProfile.html) feature e

[2022-06-30 12:29] kinueng commented on #2720
Closing as fixed

[2022-06-30 12:29] #2720 closed, assigned to kinueng

[2022-06-30 12:41] kinueng opened #2731 "Translate RSS Feed"
There looks to be limited support from the RSS plugin used by the website
`https://github.com/jekyll/jekyll-feed/issues/322`

[2022-07-13 14:17] #2595 closed, assigned to aknguyen7, kinueng

[2022-07-13 14:17] #2723 closed, assigned to kinueng

[2022-07-13 15:00] kinueng commented on #2727
The current thought is to use multiple Antora playbooks, each representing a different language.

[2022-07-20 14:49] kinueng opened #2746 "Translate interactive guides"

[2022-07-25 15:00] Sreejith-Websphere commented on #2660
@kinueng PR https://github.com/OpenLiberty/blogs/pull/2397 - adding missing versions 18003 19007 in release tag

[2022-07-26 14:10] #2636 closed, assigned to Sreejith-Websphere

[2022-08-02 19:29] kinueng opened #2750 "Adopt linters for development purposes"
Desire is to have linters for Python, CSS, JavaScript, Ruby so new and existing developers follow the same code formatting.

Some additional linter could be a commit message linter like [husky](https://github.com/typicode/husky) to bring a style convention to all commit messages.

Not only do linters bring a code style consistency, they also can be used to avoid common coding mistakes.

[2022-08-03 13:36] lauracowen opened #2751 "Expand blog search query to handle multiple tags and negation of tags"
For example, to list all GA release blog posts but not the beta blog posts: https://openliberty.io/blog/?search=release&search!=beta

Listing all the beta blog posts is currently easy because they exclusively use the `beta` tag: https://openliberty.io/blog/?search=beta&key=tag
Listing the GA release blog posts without the beta blog posts is not possible at the moment because all GA and beta blog p

[2022-08-03 19:58] kinueng opened #2752 "Dockerfile for OpenLiberty/blogs so feature branches can be previewed locally"
In order for users to preview their work on one of our test sites, they must merge their work into `draft` or `staging` branch. If we create a Dockerfile in [`OpenLiberty/blogs`](https://github.com/OpenLiberty/blogs) for all feature branches, it may help improve the process for writing blog posts.

[2022-08-04 19:48] natalie-bernhard opened #2756 "Blogs mobile view cuts off links included in post title"
When viewing the feed of blog posts on a mobile size screen, links included in the title of the blog post are cut off by the screen. This occurs on both Chrome and Safari.  Screenshots are included below (pictures that do not include dimensions were taken with the iPhone SE dimensions available in Safari developer tools)

![Screen Shot 2022-08-04 at 2 39 38 PM](https://user-images.githubuserconten

[2022-08-09 15:02] natalie-bernhard opened #2762 "Write Cypress tests for runtime release ordering"
Test the ordering for runtime releases on the starter page using Cypress tests (1-2 tests)

Ordering was changed in Issue #2573 , these changes require Cypress testing

[2022-08-09 17:24] ttelang opened #2763 "no matching manifest for linux/arm64/v8 in the manifest list entries"
Running the following command is throwing error as follow:

[code]

Please advise how can I resolve this.

[2022-08-10 08:11] Sreejith-Websphere opened #2765 "Blog Page - Navigation Menu hides"
When user scrolls down the blog page and clicked on any blog tags for search filter the navigation menu on top hides

[2022-08-16 14:54] jgawor opened #2772 "TOC for Get started page"
When I opened the https://openliberty.io/start/ page, my browser window size was just big enough to show the "Create a starter application" section but not the others. I didn't realize until much later there are other sections on this page including all the downloads. I think adding a table of contents or something similar to this page would be good, as it would indicate that there is other conten

[2022-08-16 16:31] #2125 closed, assigned to Sreejith-Websphere

[2022-08-16 16:31] #2259 closed, assigned to natalie-bernhard

[2022-08-16 16:31] #2573 closed, assigned to natalie-bernhard

[2022-08-17 21:07] kinueng opened #2775 "Translating HTML generated by JavaScript"
There are English messages embedded in JavaScript. Due to being in JS, the code cannot leverage using Liquid tag `{% t ... %}` from `jekyll-multiple-languages-plugin` to translate the message.

Here is an example
https://github.com/OpenLiberty/openliberty.io/blob/17821c0fef693a78335cf4fb65d19775138024df/src/main/content/_assets/js/post.js#L32

# Possible ideas
Instead of using YAML files for exter

[2022-08-19 10:01] lauracowen opened #2779 "CSS for videos embedded in blog posts (or docs potentially too)"
In this [draft blog post](https://blogs-draft-openlibertyio.mybluemix.net/blog/2022/09/19/app-server-crafters-makers.html), I've got a couple of YouTube videos embedded in the page, using the [Asciidoctor macros](https://docs.asciidoctor.org/asciidoc/latest/macros/audio-and-video/).

As you can see in the draft, the photos are all centred on the page but the videos are left-aligned. Would it be po

[2022-08-19 15:11] natalie-bernhard opened #2780 "Implement a robust UI to support advanced search queries on blogs"

[2022-08-19 15:15] kinueng opened #2781 "Blog page layout broken when only showing one post"
We need to fix this for when we start to support blog posts in different languages. Below is an example of the approach where languages are **NOT** intermixed. The screenshot is from prototyping a Japanese blog post page.
<img width="1930" alt="image" src="https://user-images.githubusercontent.com/31117513/185651168-4dd88868-fe8a-44f4-8e0a-78548fa4127f.png">

[2022-08-23 16:56] kinueng opened #2787 "Blog posts: Twitter and Reddit buttons have double slash URLs"
In https://github.com/OpenLiberty/openliberty.io/commit/c67f77ee848aa5c6e1e4b219cc3d3c7ee2baae0b, the URLs for the Twitter and Reddit buttons were defined with `//`.

Investigate if this as intentional. I was expecting to see either a single `/` for a relative path or `https://` for an absolute path. In this case, I had expected `https://`.

<img width="139" alt="image" src="https://user-images.gi

[2022-08-24 01:10] mbroz2 opened #2788 "Lack of Hover over behavior for starter radio and dropdown"
The radio and dropdowns in the starter section of /start is absent.  This could mislead a user into thinking that they are not interactable elements (and perhaps an a11y violation).
![image](https://user-images.githubusercontent.com/3076261/186295567-ac163c82-b52c-4cd7-9e99-bb6a283ebd3b.png)

[2022-08-24 14:14] kinueng commented on #2779
Example of left align YT embedded video
<img width="1175" alt="image" src="https://user-images.githubusercontent.com/31117513/186441492-8cbf02c6-9563-4c27-9201-3c5a734c851a.png">

[2022-08-24 21:18] aknguyen7 opened #2791 "additional tests need for starter"
Now we have an option to select
1.  any MicroProfile Version when Java EE/Jakarta EE Version is selected as None
2. any Java EE/Jakarta EE Version when MicroProfile Version is selected as None

We'll need to add the following tests for starter to testOLStarterAllGradle.js & testOLStarterAllMaven.js:

Jakarta None - MP 4.1, 3.3, 2.2, 1.4

MicroProfile None - JKT 8.0, 7.0

[2022-08-25 10:05] lauracowen opened #2793 "Blog posts not syndicating to Jakarta EE blog"
The blog posts tagged `Jakarta EE` aren't syndicating to the Jakarta EE aggregator blog any more. Not sure how long it's been like this (I can't find any recent screenshots) but I'm fairly sure it was working a few(?) weeks ago as I checked.

According to #1934 , this is the feed: https://openliberty.io/jakartaee.xml and it doesn't seem to contain any posts at the moment ([should be several](https

[2022-08-25 13:43] lauracowen opened #2794 "Bold style looks fuzzy?"
I keep noticing that certain bits of text in the blog post and/or guides looks slightly blurred/fuzzy compared with the surrounding text.

For example, in this guide, the boldened text ("Replace the server.xml file.") doesn't look as sharp as the normal weight text (or as the bold header):

![image](https://user-images.githubusercontent.com/3322532/186680672-c53f19b9-4d1e-4c31-a831-6f85869df0b6.pn

[2022-08-29 15:58] natalie-bernhard commented on #2775
The multiple languages plugin for Jekyll does not currently support the use of JSON files.  There are available command line tools that can convert between YAML and JSON files (example: https://mikefarah.gitbook.io/yq/usage/convert), which could be a possible solution that could convert the files via scripting. However, I'm not sure how much overhead this would entail and whether the overhead is w

[2022-08-31 14:30] kinueng commented on #2794
Are you experiencing the fuzziness on an external monitor?
What operating system and browser are you using?

[2022-08-31 14:46] lauracowen commented on #2794
Hmm, I realise that screenshot isn't so helpful (it was the "Replace..." sentence that was definitely blurry compared with the "Modifying..." header. So maybe it is the monitor in some weird selective way.

Yes, external monitor (but not this one in the office, apparently). Firefox on Mac.

Okay, next time I notice it I'll check it on different monitors.

[2022-08-31 15:06] kinueng commented on #2794
You may want to try comparing the text on the laptop screen.

I recall that macOS removed the anti-aliasing feature for external monitors many versions ago. I think sometimes it is called "font smoothing". Without anti-aliasing, text can become fuzzy.

The only way that I know to fix the fuzzy text for external monitors on macOS is to meet a minimum required pixel per inch (PPI). Essentially the e

[2022-08-31 15:14] kinueng commented on #2793
We will need to interrogate file https://github.com/OpenLiberty/openliberty.io/blob/prod/src/main/content/jakartaee.xml

[2022-09-01 08:41] lauracowen commented on #2794
I've just checked on my home external monitor. You're right that it's the monitor - it's fine on my laptop screen. It's really weird how it's just a certain size of bold text that's slightly fuzzy - the headings and the normal (unboldened) text are fine. I'll close the issue.

[2022-09-01 08:41] #2794 closed, assigned to nobody

[2022-09-01 21:09] dmuelle commented on #1550
@hlhoots has been working on this and provided this OL javadoc jar, based on the WebSphere Liberty javadoc. Can we look into adding this to draft to see how it works?

[com.ibm.openliberty.javadoc.zip](https://github.com/OpenLiberty/openliberty.io/files/9473435/com.ibm.openliberty.javadoc.zip)

[2022-09-08 20:29] #2756 closed, assigned to natalie-bernhard

[2022-09-08 20:30] #2787 closed, assigned to natalie-bernhard

[2022-09-09 10:55] lauracowen opened #2811 "Homepage updates/redesign"
From discussion with @gcharters after recent re-reviews of the homepage, inc:

- Not clear that there is more to scroll to on the current homepage (at Macbook resolution, just the tractor beam image is displayed; on larger monitor I get the "Develop cloud-native Java microservices" section but neatly cut beneath the Learn more button so it's still not obvious that there's more to com).
- Performan

[2022-09-14 14:08] kinueng commented on #2490
This is done and can be found here https://github.com/kinueng/code-engine-toolchain/tree/multi-region-deployment

[2022-09-14 14:08] #2490 closed, assigned to aknguyen7, kinueng

[2022-09-20 14:06] #2765 closed, assigned to Sreejith-Websphere

[2022-09-20 14:07] #2781 closed, assigned to Sreejith-Websphere

[2022-09-20 14:09] #2788 closed, assigned to Sreejith-Websphere

[2022-09-20 14:10] kinueng commented on #2788
The cursor now shows a hand when the cursor hovers over the said elements

[2022-09-20 14:27] #2660 closed, assigned to Sreejith-Websphere

[2022-09-20 14:27] #2793 closed, assigned to natalie-bernhard

[2022-09-20 20:38] natalie-bernhard opened #2825 "Limit max height of code block in blogs"

[2022-09-20 20:39] natalie-bernhard commented on #2825
![Screen Shot 2022-09-20 at 3 38 58 PM](https://user-images.githubusercontent.com/84740311/191359853-7d4faa4b-8259-4d53-b1e5-a0723b7f31e7.png)
Based off of this request in Slack

[2022-09-21 14:57] kinueng opened #2828 "Update Code Engine applications in parallel instead of serial"
The current Code Engine (CE) toolchain is using a `for-loop` to update each region one after another. This is similar to how the Cloud Foundry toolchain updates each of the regions.

The CE toolchain can be better and have all the regions update (i.e. pick up new container image) in parallel. The Tekton Task that handles updating CE apps is here https://github.com/kinueng/code-engine-toolchain/blo

[2022-09-21 21:26] #2779 closed, assigned to natalie-bernhard

[2022-09-22 13:34] natalie-bernhard opened #2830 "Two scroll bars initially appear when loading the landing page"
When initially loading the home page, two scroll bars appear on the right rather than one, then the second one disappears (occurs on multiple browsers)

[2022-09-22 14:54] mbroz2 opened #2832 "Update "Learn more" link for the homepage graphs to point to performance enhancements blogs"
Currently the Learn More more button on the homepage under the start-up graphs points to https://openliberty.io/blog/2019/10/30/faster-startup-open-liberty.html, but we've since done many performance enhancements to Liberty.  While we wait to update the graphs on the homepage, in the meantime, lets update the link to point at https://openliberty.io/blog/?search=performance_enhancements instead.

!

[2022-09-23 14:32] kinueng opened #2841 "Switch to `cdn.jsdelivr.net` for Bootstrap files"
Per
https://getbootstrap.com/docs/3.4/getting-started/#download-cdn
and
https://getbootstrap.com/docs/4.0/getting-started/introduction/

the recommendation is to use CDN from jsDelivr.

The recommendation applies to both Bootstrap v3.4.1 and v4.0.0

This is in reaction to reports that `maxcdn.bootstrapcdn.com` is performing poorly in the Malaysia region.

[2022-09-23 16:35] #2832 closed, assigned to nobody

[2022-09-26 14:27] kinueng commented on #2772
One idea is to add a downward caret at the bottom of the page. The caret only is visible on page load and is hidden when scrolling is detected.
![image](https://user-images.githubusercontent.com/31117513/192302406-79e8e338-10f7-4612-a5fb-1909d086d35b.png)

[2022-09-26 15:17] natalie-bernhard commented on #2719
Currently, the jekyll-feed plugin does not allow for customization of the feed, so the permalink in the front matter of the .adoc is used as the post URL in the current feed rather than the redirect URL.  However, it is suspected that the permalink of the post cannot be changed to the redirect link because the permalink must point to an html file within the site to satisfy jekyll build reqs (which

[2022-09-26 15:17] #2719 closed, assigned to natalie-bernhard

[2022-09-27 17:25] kinueng opened #2854 "`22.0.0.10` release build not sorted to the top of table"
![image](https://user-images.githubusercontent.com/31117513/192594625-e6ada273-e3f6-48a4-9038-f68164ccb85c.png)

[2022-09-27 17:29] NottyCode commented on #2854
This is caused because the info.json for the releases has the version set in date_time since 22.0.0.2 rather than the release date. The date_time in the json needs to be the date.

[2022-09-27 17:53] kinueng commented on #2854
Here is the `date_time` in question from `GET` https://openliberty.io/api/builds/data
![image](https://user-images.githubusercontent.com/31117513/192600470-b64cb347-5133-49f9-815e-b17f09625fab.png)

[2022-09-27 19:36] #2854 closed, assigned to kinueng

[2022-09-27 19:36] #2751 closed, assigned to natalie-bernhard

[2022-09-27 19:36] #2825 closed, assigned to natalie-bernhard

[2022-09-27 19:38] #2762 closed, assigned to natalie-bernhard

[2022-09-28 10:03] lauracowen commented on #2793
Works now. Thank you!

[2022-09-28 14:04] kinueng opened #2857 "Send Slack message after health check in Code Engine toolchain"
We need to move the Slack message Tekton Task to be after the application health check task.

[2022-09-28 14:04] kinueng commented on #2857
PR is https://github.com/kinueng/code-engine-toolchain/pull/9

[2022-09-28 14:05] #2841 closed, assigned to kinueng

[2022-09-28 14:09] kinueng commented on #2356
Was not reproducible on two different macOS using Safari. Closing this issue.

[2022-09-28 14:09] #2356 closed, assigned to nobody

[2022-09-28 14:12] kinueng commented on #2270
Problem still exists for Safari on macOS 12.6

[2022-09-28 14:17] kinueng commented on #2665
The last remaining piece is to decide how to mark the javadoc files used for iframes as `noindex` to avoid search engines indexing the iframes. Example of the iframe files are in comment https://github.com/OpenLiberty/openliberty.io/issues/2665#issuecomment-1170319592. We cannot put the HTML element `noindex` into the files because the files are generated by a script command `javadoc`.

[2022-09-28 14:19] #2791 closed, assigned to Sreejith-Websphere

[2022-09-28 14:19] kinueng commented on #2791
Done

[2022-09-28 14:20] #2644 closed, assigned to Sreejith-Websphere

[2022-09-28 14:25] kinueng commented on #2751
Hi @lauracowen,
This work is now live on openliberty.io. Thanks @natalie-bernhard for the work here!

[2022-09-28 14:31] mbroz2 commented on #2751
@lauracowen we should consider updating the GA and beta post templates to add links to previous corresponding release posts.

[2022-09-28 14:52] lauracowen commented on #2751
I'll update them.

[2022-09-28 14:53] lauracowen commented on #2751
@kinueng @natalie-bernhard What is the syntax to use for all release posts excluding beta release posts?

[2022-09-28 14:59] mbroz2 commented on #2751
https://openliberty.io/blog/?search=release&search!=beta

[2022-09-28 16:16] dmuelle opened #2858 "Add alt text field for open graph images from Blog posts"
[Open graph](https://ogp.me/) provides preview images for our blog posts in social media posts. The protocol provides a means to specify alt text for the images to improve accessibility, but the OL blog post metadata doesn't currently support it.

the `open-graph-image:`  metadata field is only for `property="og:image"`

`<meta property="og:image" content="{{ page.open-graph-image }}" />`

We can

[2022-09-28 16:20] kinueng commented on #2858
From [Open graph](https://ogp.me/)

[2022-09-28 16:29] kinueng opened #2862 "Open Graph and Twitter metadata are different between non-Antora and Antora pages"
The Twitter and Open Graph metadata have deviated. Should the Liquid tags be consolidated?

Non-Antora pages
https://github.com/OpenLiberty/openliberty.io/blob/prod/src/main/content/_includes/head.html

Antora pages
https://github.com/OpenLiberty/openliberty.io/blob/prod/src/main/content/antora_ui/src/partials/head-meta.hbs

[2022-09-28 20:04] kinueng commented on #2857
Done https://github.com/kinueng/code-engine-toolchain/commit/7b26e19f4d4aa9571431e10c9ed660b048ee0ba9

[2022-09-28 20:04] #2857 closed, assigned to kinueng

[2022-09-29 14:01] kinueng commented on #2793
@lauracowen can you give an example of a syndicated EE blog? Maybe we can write a test to always check that those syndications are looking as expected

[2022-09-29 14:05] lauracowen commented on #2793
The most recent one is https://openliberty.io/blog/2022/09/21/history-maker-projects.html and it appears on the scrolling page here: https://jakarta.ee/blogs/

However, I don't think older posts are loaded automatically on the page...I don't know if that matters? Manually, I've just been going to that URL and then doing a find in page for the word "liberty" - most, but not all, instances are our p

[2022-09-29 21:13] #2858 closed, assigned to kinueng

[2022-10-05 14:18] kinueng commented on #2709
This issue is done. The outcome is openliberty.io will continue to use `JAX-RS`. The other changes can be found in #2743

[2022-10-05 14:18] #2709 closed, assigned to kinueng

[2022-10-05 14:27] #720 closed

[2022-10-11 20:27] natalie-bernhard opened #2874 "Part of text on home page is unreadable on Firefox"
![Screen Shot 2022-10-11 at 3 26 08 PM](https://user-images.githubusercontent.com/84740311/195192000-54013278-25e3-4cdb-bedc-195b3a47185a.png)
When opening the home page on Firefox, the text for the support section towards the bottom of the page is partially covered by a random cloud which makes the white text unreadable.

Edited by Kin:
This problem is reproducible when you set the Firefox tracki

[2022-10-17 20:19] kinueng opened #2881 "Update `sitemap.xml` with multilingual URLs"
As we start to publish pages in other languages, we need to invest the time in figuring out how to properly add the other languages to our `sitemap.xml`.

Some initial research
- Investigate how `hreflang` can be added to `sitemap.xml`. Google's guidance [here](https://developers.google.com/search/docs/specialty/international/localized-versions)

[2022-10-19 14:41] kinueng commented on #2484
The `canonical` HTML metadata now contains the query parameters. The last step to closing this issue out is to look at Google Search Console and see if the crawlers are seeing the new `canonical` containing the params.

[2022-10-19 14:49] kinueng commented on #2484
Google Search Console shows the URL in the issue description is now indexed. A google search of the URL shows
<img width="880" alt="image" src="https://user-images.githubusercontent.com/31117513/196725104-38168506-6081-42cf-bc50-e61fef3b2f4e.png">

Closing this issue as fixed

[2022-10-19 14:49] #2484 closed, assigned to Sreejith-Websphere

[2022-10-19 17:20] #2166 closed, assigned to natalie-bernhard

[2022-10-19 17:20] #2830 closed, assigned to natalie-bernhard

[2022-10-19 17:20] #2126 closed, assigned to kinueng

[2022-10-21 14:30] kinueng opened #2883 "Language picker for the entire site"
The current language picker is only for the blogs page. This issue is to track promoting the language picker to the whole website once all the pages are translated.

[2022-10-21 19:42] dmuelle opened #2885 "copy code block buttons are not accessible to screen readers"
While doing JAWS testing on the Open Liberty docs, I found that the "copy code block" buttons are not discoverable by the screen reader.

Using the "B" key in the JAWS program takes you through all the buttons on the current screen. On multiple pages, I found that this command never finds the code copy buttons. Also, If you hover the over the buttons, the screen reader reads the source file design

[2022-10-25 14:09] natalie-bernhard opened #2888 "IDE tools section"
A new development which will add a section to the start page promoting the liberty IDE plugins

[2022-10-25 19:53] kinueng opened #2890 "Allow for English and non-English blog posts reference each other"
In PR https://github.com/OpenLiberty/openliberty.io/pull/2879, a new front matter attribute was delivered but not used called `blog-available-in-languages`.

It turns out that this new attribute assumes that the URL between an English blog post and its translated versions only differ by the having its language in the URL. This is incorrect because the blog posts may not have the same timestamp (e.

[2022-10-26 14:37] mbroz2 opened #2891 "blog tags aren't rendered for blogs with periods in their name"
If a blog post filename has a period in it (besides the extension), the post will not have its tags applied to it.
For example:
`2022-10-25-22.0.0.11.adoc`
`2022-02-17-concurrency-3.0-22003-beta.adoc`
`2022-09-01-java-19-22.0.0.10-beta.adoc`

Skimming through the function responsible for this behavior, I would suggest rewriting it to find the last index of '/' instead of doing `substring(XX)` as t

[2022-10-26 15:00] kinueng opened #2892 "Blog tags for non-English blog posts"
Work through how to organize the tags for non-English blog posts. Currently, there is only one file that controls the blog post tags.  https://github.com/OpenLiberty/blogs/blob/prod/blog_tags.json.

Should all blog posts have their tags in this single file or should there be `blog_tags` file for each language?

[2022-10-26 17:58] kinueng opened #2893 "Build logs are not enough to triage failures"
The container based builds are failing and there is not enough logs triage the failure.

Due to the build having scripts calling scripts, I suspect the error is not being surfaced to the top.

[code]

[2022-10-26 19:07] kinueng opened #2895 "Blog page language picker needs better spacing in narrow window"
<img width="865" alt="image" src="https://user-images.githubusercontent.com/31117513/198114669-21d7d831-7691-4bb4-b3c2-ea8251c79f40.png">
<img width="560" alt="image" src="https://user-images.githubusercontent.com/31117513/198114843-8fc6e87c-61d6-454f-ab45-b2a22daa45c1.png">

[2022-10-26 20:49] #2285 closed, assigned to natalie-bernhard

[2022-10-26 20:49] #2579 closed, assigned to kinueng, natalie-bernhard, Sreejith-Websphere

[2022-10-27 21:22] #2891 closed, assigned to mbroz2

[2022-10-31 20:40] kinueng opened #2907 "Sorting table by version not working"
Sorting table by `Version` partially works.
https://openliberty.io/start/#runtime_releases

[code]

[2022-11-01 13:06] mbroz2 opened #2909 ""More downloads are on the way" at bottom of /start should only appear for an empty or partially rendered table"
Currently, "More downloads are on the way" at bottom of /start seems to always appear.  The image should only appear if the table is empty or partially rendered.
![image](https://user-images.githubusercontent.com/3076261/199239733-5828a7b6-9532-4a34-9b80-f9eaf8a8592f.png)

[2022-11-01 20:20] #2890 closed, assigned to kinueng

[2022-11-02 14:16] jakub-pomykala opened #2914 "Table of content in guides not working properly whilst chrome window is not in fullscreen"
Not able to scroll through the table of content and also doesn't move as scrolling through the guide. See screen recording attached.

https://user-images.githubusercontent.com/56261244/199512382-e14c7a3f-fd70-4459-977d-afb199157ce9.mov

[2022-11-02 14:44] kinueng commented on #2892
The preference from discussions is to keep a single blog_tags file for all languages

[2022-11-02 14:47] kinueng commented on #2892
There is a scenario that is problematic when a non-English and English post share the same filename. This will cause tags to be shared between the two posts, which may not be ideal if the tags need to be translated.

[2022-11-02 14:50] kinueng commented on #2893
Turns out there was enough logs to triage the build failures. :)

[2022-11-02 14:50] #2893 closed, assigned to nobody

[2022-11-02 14:55] kinueng commented on #2914
Possibility related to https://github.com/OpenLiberty/openliberty.io/issues/2636

The description is using https://openliberty.io/guides/liberty-deep-dive.html

[2022-11-02 14:59] kinueng commented on #2914
The TOC is not scrollable in mobile resolution, which means users cannot see the bottom of the TOC. On desktop it is fine.

[2022-11-02 16:23] yeekangc opened #2915 "Show authors for translated blog posts"
Highlight who are the translators for translated blog posts like how we highlight authors.  Only the original authors are listed at the moment.

[2022-11-03 13:20] NottyCode opened #2916 "On the beta download tab simplify the signature verification"
The signature verification for betas says:

    Starting with version 22.0.0.1, signature files are produced for every package of an Open Liberty release. You can use these
    signature files and the corresponding public key to verify the authenticity and integrity of an Open Liberty release package.
    For more information, see [Verifying Open Liberty release packages.](https://openliberty.io/d

[2022-11-03 18:34] mbroz2 opened #2917 "Improve styling for docs version picker"
### The docs version currently seems to float a bit randomly in whitespace:
![image](https://user-images.githubusercontent.com/3076261/199805887-1f26b7c0-c5d5-4a0e-86f5-0729e5cbca14.png)
![image](https://user-images.githubusercontent.com/3076261/199805903-e8a84393-8bd9-4d83-a86f-ee302f17ae50.png)

### I suggest we instead anchor it, matching the styling of the navigation header (aka, center it ver

[2022-11-03 18:37] mbroz2 commented on #2917
fyi @chirp1 @dmuelle in case you have thoughts/opinions

[2022-11-07 18:28] mbroz2 opened #2921 "Translated blog posts contain incorrect links to other pages"
There's several links on the jap blog page that incorrectly link to various /ja/* pages that don't exist.

For example, the Open Liberty logo in the header links to https://openliberty.io/ja instead of just https://openliberty.io/.  There are more examples in the footer.

[2022-11-07 18:32] kinueng commented on #2921
Also links in the footer
<img width="275" alt="image" src="https://user-images.githubusercontent.com/31117513/200387523-571eab16-e933-4f92-94da-b6d7d092f80b.png">

[2022-11-08 16:42] kinueng commented on #2921
Used the following JavaScript code to scan for any `/ja/` URLs that are unsupported
[code]

[2022-11-08 16:43] kinueng commented on #2921
Tested on
- https://openliberty.io/ja/blog/2022/09/01/openliberty-guides-in-japanese.html
- https://openliberty.io/ja/blog/

[2022-11-09 10:58] dselvara1 opened #2927 "Scroll bar missing in the OpenLiberty guides page - Contents section."
When I was trying to read through the instructions in the Liberty deepdive guide, noticed the vertical scroll bar is missing in the Contents section. As the guide is long, makes it difficult to traverse through different sections. Could not scroll even using the page up/down key. This is observed on windows - Chrome and Edge.

![image](https://user-images.githubusercontent.com/78403019/200811829-c

[2022-11-09 14:00] yeekangc commented on #2927
Cc @gkwan-ibm

[2022-11-09 14:32] gkwan-ibm commented on #2927
it is a dup of #2914

[2022-11-09 19:47] #2874 closed, assigned to natalie-bernhard

[2022-11-09 19:47] #2921 closed, assigned to kinueng

[2022-11-09 20:45] kinueng commented on #2892
A temp fix ([PR](https://github.com/OpenLiberty/openliberty.io/pull/2924)) is put into place to disable blog tags on non-English posts. This issue will be used to add tag support for the non-English posts.

[2022-11-09 21:11] kinueng opened #2930 "Canonical is incorrect for URLs that use Liberty version instead of `latest`"
1. Visit https://openliberty.io/docs/22.0.0.2/reference/feature/ssl-1.0.html
2. Observe the DOM has `<link href="https://openliberty.io/docs/latest/reference/feature/ssl-1.0.html" rel="canonical">`

Impact
Google does not index the URL in step 1
<img width="1154" alt="image" src="https://user-images.githubusercontent.com/31117513/200942613-9fc3f1f6-30eb-47f1-a322-934b8db8e547.png">

[2022-11-14 19:16] kinueng opened #2931 "Support simplified Chinese blog posts"

[2022-11-18 09:46] lauracowen opened #2932 "Support button that opens IBM WebSphere Liberty page on ibm.com is misleadingly labelled"
The button is labelled "Find out more" about "WebSphere Application Server" (why would anyone looking for paid support for Open Liberty do that?). The button actually takes you to the WebSphere Liberty ibm.com page, which is more relevant than WAS at least. The button should surely say something like "Get paid support" (which is actually what someone would be looking for if they're going to consid

[2022-11-23 20:43] natalie-bernhard commented on #2909
I was able to write a fix for this where the current logic is as follows: if the ajax request for the builds data succeeds, the animation will be hidden, but if the request fails then it will render.  Just wanted to note this before moving forward, as the original issue mentions rendering the animation if the table is only partially rendered as well; since the number of releases in the table is no

[2022-11-23 22:44] mbroz2 commented on #2909
I would check to make sure there's at least 24 releases rendered in the table, or if you want to do this in the same code as the ajax response, you could validate that runtime_releases has at least 24 elements in the array.  That's not quite the same since the response includes all releases and not just the ones we render, but I think it's fine.

[2022-11-29 16:28] kinueng commented on #2932
We will need to discuss more on what the final text should be for getting support

[2022-11-29 16:33] kinueng commented on #2930
I think the server side code that is updating the `canonical` metadata is always assuming the incoming URL request is `latest`.

[2022-11-29 16:38] kinueng commented on #2914
Fixes #2927

Make sure GitHub closes the duplicate issue!

[2022-11-30 22:01] dmuelle commented on #2888
proposed update for text to introduce the extensions: